@charset "UTF-8";

$bianco:            #FEFEFE;                    // rgb(254, 254, 254);
$nero:              rgb(10, 5, 5);              // #0A0505
$arancione:         #E9540D;                    // rgb(233, 84, 13);
$arancione20:       rgba($arancione,0.2);
$bluMadeLabs:       rgb(0, 59, 255);            // #003BFF
$bianco98:          rgba($bianco, 0.98);        // #FEFEFE
$bianco80:          rgba($bianco, 0.80);        // #FEFEFE
$bianco60:          rgba($bianco, 0.60);        // #FEFEFE
$bianco30:          rgba($bianco, 0.30);        // #FEFEFE
$grigioFondoChiaro: #CCCCCC;                    // 204,204,204
$grigioFondo:       rgb(245,245,245);
$grigioFondoScuro:  #4D4D4D;
$grigioMenu:        $grigioFondoChiaro;         // 204,204,204
$grigioFiletto:     rgb(245,228,237);           // vecchio rgb(195,195,195);
$grigioIntermedio:  rgb(195,195,195);           // ex-grigioFiletto
$verde:             #94E09B;
$rosso:             #D31826;
$gialloWarning:     yellow;
$biancoPuro:        white;
$grigioAria:        #F7F4F2;
    
$menuBackground:            rgba($bianco,0.94);
$menuBackgroundMobile:      rgba($bianco,0.993);
$menuBackgroundCookie:      rgba($bianco,0.98);

// gutemberg palette
.has-arancione-color                { color: $arancione; }
.has-bianco-color                   { color: $bianco; }
.has-nero-color                     { color: $nero; }
.has-blumadelabs-color              { color: $bluMadeLabs; }
.has-grigioscuro-color              { color: $grigioFondoScuro; }
.has-grigiochiaro-color             { color: $grigioFondoChiaro; }
.has-arancione-background-color     { background-color: $arancione; }
.has-bianco-background-color        { background-color: $bianco; }
.has-nero-background-color          { background-color: $nero; }
.has-blumadelabs-background-color   { background-color: $bluMadeLabs; }
.has-grigioscuro-background-color   { background-color: $grigioFondoScuro; }
.has-grigiochiaro-background-color  { background-color: $grigioFondoChiaro; }
