@charset "UTF-8";

@import '_flexbox-grid-mixins';
@import '_colori';

// VARIABILI

$debug: false;

// grid
// da https://thingsym.github.io/flexbox-grid-mixins/
// vedi sotto mixins
$default-grid-gutter:               32px;
$default-grid-columns:              12;
$flexbox-grid-mixins-grid-type:     margin-offset; // skeleton | margin-offset
$grid8-columns:                     8;
$grid6-columns:                     6;
$grid4-columns:                     4;
$grid2-columns:                     2;

$defaultBreakpoints: (
  mobile:     320px,
  mobileX:    375px,
  tablet:     750px,
  laptop:     1080px,
  desktop:    1280px,
  desktopBIG: 1920px
);
$defaultGridMargin: (
  mobile:     5px,
  mobileX:    5px,
  tablet:     52px,
  laptop:     52px,
  desktop:    60px,
  desktopBIG: 60px
); //disegnato a 5 e 20px
// puo essere utile https://sass-lang.com/documentation/modules/map
$bpMobile       : map-get($defaultBreakpoints, "mobile");
$bpMobileX      : map-get($defaultBreakpoints, "mobileX");
$bpTablet       : map-get($defaultBreakpoints, "tablet");
$bpLaptop       : map-get($defaultBreakpoints, "laptop");
$bpDesktop      : map-get($defaultBreakpoints, "desktop");
$bpDesktopBig   : map-get($defaultBreakpoints, "desktopBIG");

$spaziaturaStd:                     1rem;
$spaziaturaStdMinore:               $spaziaturaStd / 1.618;
$spaziaturaMenu:                    $default-grid-gutter;
$spaziaturaMenuMinore:              $spaziaturaStdMinore;
$spaziaturaForm:                    $spaziaturaStdMinore/1.618/1.618/1.618;
$contattiBarHeight:                 22px;                                       // la barra arancione del telefono social e lingue
$menuTransitionIn:                  height 0.6s ease-in-out 0s;
$menuTransitionOut:                 height 0.25s ease-in-out 0s;
$transitionStdIn:                   all 0.4s ease-in-out 0s;
$transitionStdOut:                  all 0.2s ease-in-out 0s;
$menuTransitionInBackground:        all 0.25s ease-in-out 0s;                   //also for search field
$menuTransitionOutBackground:       all 0.25s ease-in-out 0.1s;                 //also for search field
$headerHeightEspansa:               106px;                                      //come illustrator
$headerHeightEspansaPadding:        14px;                                       //come illustrator
$headerHeightEspansaPaddingBottom:  8px;
$headerCompattaH:                   72px;
$menuSubmenuHeight:                 100vh;                                      //temporaneo poi js lo calcola
//$menuSubmenuYOffset:                $headerHeightEspansa - 2px + 24px;        //130px
//$menuSubmenuYOffsetSticky:          $headerCompattaH - 2px + 24px;            //78px
$menuSubmenuYOffset:                104px;                                      //130px
$menuSubmenuYOffsetSticky:          78px;                                       //78px
$stileBordiTabella:                 1px solid $grigioFiletto;
$stileBordoBodySupSpes:             4px;
$stileBordoBodySup:                 $stileBordoBodySupSpes solid $arancione;
$stileBordoBodySupTrasp:            $stileBordoBodySupSpes solid transparent;   //per menumobile
$menuSearchHeight:                  80px;
$menuMobileH:                       100vh;
$menuMobileHSubmenu:                30vh;
$addThisAltezza:                    48px;
$textFieldHeightStd:                40px;
$caroselloArrowWidth:               26px;                                       //19px
$caroselloArrowHeight:              30px;                                       //22px
$fasciaScorrevoleSize:              4vw;                                        //altezza sarà 1em , relativa a questa dimensione
$fasciaScorrevoleSizeMobile:        8vw;                                        //altezza sarà 1em , relativa a questa dimensione
$fasciaScorrevoleDurata:            30s;
$logoW:                             232px;
$logoH:                             82px;
$logoTagliatoW:                     80px;
$logoTagliatoH:                     56px;

@mixin micro        { @media screen                     and ( max-width: $bpMobile      - 1px   ) {@content}};
@mixin mobile       { @media ( min-width: $bpMobile  )  and ( max-width: $bpMobileX     - 1px   ) {@content}};
@mixin mobileX      { @media ( min-width: $bpMobileX )  and ( max-width: $bpTablet      - 1px   ) {@content}};
@mixin tablet       { @media ( min-width: $bpTablet  )  and ( max-width: $bpLaptop      - 1px   ) {@content}};
@mixin laptop       { @media ( min-width: $bpLaptop  )  and ( max-width: $bpDesktop     - 1px   ) {@content}};
@mixin desktop      { @media ( min-width: $bpDesktop )  and ( max-width: $bpDesktopBig  - 1px   ) {@content}};
@mixin desktopBig   { @media screen                     and ( min-width: $bpDesktopBig          ) {@content}};

@mixin micro-mobile {
                            @include micro      { @content };
                            @include mobile     { @content };
}
@mixin micro-mobile-mobileX {
                            @include micro      { @content };
                            @include mobile     { @content };
                            @include mobileX    { @content };
}
@mixin micro-mobile-mobileX-tablet {
                            @include micro      { @content };
                            @include mobile     { @content };
                            @include mobileX    { @content };
                            @include tablet     { @content };
}
@mixin micro-mobile-mobileX-tablet-laptop {
                            @include micro      { @content };
                            @include mobile     { @content };
                            @include mobileX    { @content };
                            @include tablet     { @content };
                            @include laptop     { @content };
}

@mixin SOLO-MOBILE-MOBILEX     {
                            display: none;
                            @include micro      { display: block; };
                            @include mobile     { display: block; };
                            @include mobileX    { display: block; };
}
@mixin SOLO-MOBILE-MOBILEX-TABLET   {
                            display: none;
                            @include micro      { display: block; };
                            @include mobile     { display: block; };
                            @include mobileX    { display: block; };
                            @include tablet     { display: block; };
}
@mixin SOLO-TABLET             {
                            display: none;
                            @include tablet     { display: block; };
}
@mixin SOLO-LAPTOP-DESKTOP-BIG {
                            display: none;
                            @include laptop     { display: block; };
                            @include desktop    { display: block; };
                            @include desktopBig { display: block; };
}
@mixin SOLO-DESKTOP-BIG {
                            display: none;
                            @include desktop    { display: block; };
                            @include desktopBig { display: block; };
}

%headerLabel {
    display: block;
    text-transform: uppercase;
    @extend %tstarBold;
}

// grid
// da https://thingsym.github.io/flexbox-grid-mixins/
// vedi sopra variabili
.grid {
    @include grid();
    & > div {
        //border: 1px solid red;
    }
	@for $i from 1 through $default-grid-columns {
		> .grid__col-#{$i} {
			@include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
		}
	}
    &.grid-wrap {
        flex-wrap: wrap;
        .grid__col-2 {
            &:nth-child(6n) {
                margin-right: 0;
            }
        }
        .grid__col-3 {
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
    &.gridTraccia {
        & > div {
            border: 1px solid $grigioFiletto;
        }
    }
}

.grid8 {
    @include grid();
    & > div {
        //border: 1px solid red;
    }
	@for $i from 1 through $grid8-columns {
		> .grid__col-#{$i} {
			@include grid-col($col: $i, $grid-columns: $grid8-columns, $gutter: $default-grid-gutter);
		}
	}
    &.grid-wrap {
        flex-wrap: wrap;
        .grid__col-1 {
            &:nth-child(8n) {
                margin-right: 0;
            }
        }
        .grid__col-2 {
            margin-right: $default-grid-gutter;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
    &.gridTraccia {
        & > div {
            border: 1px solid $grigioFiletto;
        }
    }
    @include micro-mobile-mobileX {
        & > .grid__col-2 { // per la griglia progetti
            flex: 0 0 calc( 50% - (#{$default-grid-gutter} / 2));
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}
.grid6 {
    @include grid();
	@for $i from 1 through $grid6-columns {
		> .grid__col-#{$i} {
			@include grid-col($col: $i, $grid-columns: $grid6-columns, $gutter: $default-grid-gutter);
		}
	}
    &.grid-wrap {
        flex-wrap: wrap;
        //.grid__col-1 {
        //    //&:nth-child(8n) {
        //    //    margin-right: 0;
        //    //}
        //}
        .grid__col-2 {
            //margin-right: $default-grid-gutter;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
.grid4 {
    @include grid();
    & > div {
        //border: 1px solid red;
    }
	@for $i from 1 through $grid4-columns {
		> .grid__col-#{$i} {
			@include grid-col($col: $i, $grid-columns: $grid4-columns, $gutter: $default-grid-gutter);
		}
	}
    &.grid-wrap {
        flex-wrap: wrap;
        .grid__col-1 {
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        .grid__col-2 {
            &:nth-child(2n) {
                margin-right: 0;
            }            
        }
        .grid__col-4 {
            margin-right: 0;
        }
    }
    &.gridTraccia {
        & > div {
            border: 1px solid $grigioFiletto;
        }
    }
}
.grid2 {
    @include grid();
	@for $i from 1 through $grid2-columns {
		> .grid__col-#{$i} {
			@include grid-col($col: $i, $grid-columns: $grid2-columns, $gutter: $default-grid-gutter);
		}
	}
    &.grid-wrap {
        flex-wrap: wrap;
        .grid__col-2 {
            margin-right: 0;
        }
    }
}

%extend %gridWidthCol1 {@include grid();@include grid-col($col: 1);};
%extend %gridWidthCol6 {@include grid();@include grid-col($col: 6);};

// esempio di ciclo con map
// $icons: ("eye": "\f112", "start": "\f12e", "stop": "\f12f");
// 
// @each $name, $glyph in $icons {
//   .icon-#{$name}:before {
//     display: inline-block;
//     font-family: "Icon Font";
//     content: $glyph;
//   }
// }

// sistemo padding elementi pagina .region (header e footer) e .layout-content (main)
// da https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
@each $name, $width in $defaultBreakpoints {
    @media screen and (min-width: $width) {
        .region {
            padding-left: map-get($defaultGridMargin, $name);
            padding-right: map-get($defaultGridMargin, $name);
            #block-menu-2-asidesx {
                padding-left: map-get($defaultGridMargin, $name);
            }
            //#block-menu-dd-dx-ita
            .menu_dd_dx {
                padding-right: map-get($defaultGridMargin, $name);                
            }
        }
        .region-toptopbar {
            .messages {
                margin-left: -#{map-get($defaultGridMargin, $name)} !important;
                padding-left: map-get($defaultGridMargin, $name) !important;
            }
        }
        .larghezzaTutta, .alignfull, %larghezzaTutta {
            left: -#{map-get($defaultGridMargin, $name)};
        }
        .paddingPagina, %paddingPagina {
                padding-left: map-get($defaultGridMargin, $name) !important;
                padding-right: map-get($defaultGridMargin, $name) !important;
        }
        p.larghezzaTutta {
            padding-left: map-get($defaultGridMargin, $name);
            padding-right: map-get($defaultGridMargin, $name);
        }
        .wp-block-group.has-background { //correggo gutenberg
            padding-left: map-get($defaultGridMargin, $name);
            padding-right: map-get($defaultGridMargin, $name);            
        }
        @if $debug {
            .region-topbar {
                position: relative;
                &::after {
                    content: '#{$name}';
                    position: fixed;
                    z-index: 100;
                    top: 4px;
                    right: 0;
                    font-size: 9px;
                    line-height: 9px;
                    height: 9px;
                    text-align: left;
                    color: $grigioFondoScuro;
                    text-transform: uppercase;
                }
            }
        }
        .view-carosello {
            .slick--view--carosello {
                .slick__arrow {
                        padding-left: map-get($defaultGridMargin, $name);                    
                }
                .slick__slider {
                    .slick-dots {
                        //padding-left: map-get($defaultGridMargin, $name);
                        padding-left: calc(#{map-get($defaultGridMargin, $name)} + #{($caroselloArrowWidth * 2)} + #{($spaziaturaStdMinore * 2)});
                        //padding-left: calc(#{map-get($defaultGridMargin, $name)} + #{($caroselloArrowWidth * 2)} + #{($spaziaturaStdMinore * 2)} + #{($spaziaturaStd)});
                        //padding-left: calc(100px + #{map-get($defaultGridMargin, $name)} + #{($caroselloArrowWidth * 2)} + #{($spaziaturaStdMinore * 2)});
                    }
                    .slick-list {
                        .slick-track {
                            .slick-slide {
                                .slide {
                                    & > div {
                                        .blocchetto {
                                            padding-left: map-get($defaultGridMargin, $name);
                                            //padding-bottom: map-get($defaultGridMargin, $name);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}