// in locale, usati finora
//tstar-normal-400
//tstar-italic-400
//tstar-normal-700

@font-face {
  font-family: 'tstar';
  src: url("../font/tstar-normal-400/tstar-regular-webfont.eot");
  src: url("../font/tstar-normal-400/tstar-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/tstar-normal-400/tstar-regular-webfont.ttf") format("truetype"), url("../font/tstar-normal-400/tstar-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'tstar';
  src: url("../font/tstar-normal-700/tstar-bold-webfont.eot");
  src: url("../font/tstar-normal-700/tstar-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/tstar-normal-700/tstar-bold-webfont.ttf") format("truetype"), url("../font/tstar-normal-700/tstar-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'tstar';
  src: url("../font/tstar-italic-400/tstar-italic-webfont.eot");
  src: url("../font/tstar-italic-400/tstar-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/tstar-italic-400/tstar-italic-webfont.ttf") format("truetype"), url("../font/tstar-italic-400/tstar-italic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

// font locali
.tstar, %tstar              { font-family: 'tstar'; font-style: normal; font-weight: 400; }
.tstarBold, %tstarBold      { font-family: 'tstar'; font-style: normal; font-weight: 700; }
.tstarItalic, %tstarItalic  { font-family: 'tstar'; font-style: italic; font-weight: 400; }

// da adobe typekit
.bodoni, .bodoniNorm, %bodoniNorm       { font-family: bodoni-urw, serif; font-weight: 400; font-style: normal; }
.bodoniItalic, %bodoniItalic            { font-family: bodoni-urw, serif; font-weight: 400; font-style: italic; }
.bodoniBoldItalic, %bodoniBoldItalic    { font-family: bodoni-urw, serif; font-weight: 500; font-style: italic; }
//.bodoniBoldItalic, %bodoniBoldItalic  { font-family: bodoni-urw, serif; font-weight: 800; font-style: italic; }
.bodoniBoldItalicSpan                   { @extend %bodoniBoldItalic; }

// gutemberg font size
.has-piccolo-font-size      { font-size: 12px }
.has-lettura-font-size      { font-size: 14px }
.has-grande-font-size       { font-size: 16px }

// variabili
$defaultSize:           19px;
$defaultSizeLH:         1.5rem;     // ex-$lineHeightDefault > $defaultSizeLH
$headerSize:            16px;       // ex-$headerDefaultSize > $headerSize
$headerSizeLH:          1.1rem;     // ex-$lineHeightMenu    > $headerSizeLH
$parMaxWidth:           600px;      //anche larghezza max immagine laterale scheda progetto
$smallSize14:           0.7368421052631579em;   //14px;
$smallSize16:           0.8421052631578947em;   //16px;
$smallSize:             $smallSize14;

html, %default-font {
    font-size: $defaultSize;
    @extend %tstar;
    line-height: $defaultSizeLH;
    color: $nero;
}

.small, small, %small {
    font-size: $smallSize14;
}
.notToSmall, .small16 {
    font-size: $smallSize16;    
};


code {
    border: 1px solid $grigioFiletto;
    display: block;
    padding: 1em;
    max-width: $parMaxWidth;
    color: $grigioIntermedio;
    @extend %small;
}

h1, %h1,
h2, %h2,
h3, %h3,
h4, %h4 {
    @extend %tstarBold;
}

h1, %h1 {font-size: 2.5rem;     line-height: 3rem;}
h2, %h2 {font-size: 1.4rem;     line-height: 1.55rem;}
h3, %h3 {font-size: 1.3rem;     line-height: 1.45rem; @extend %tstar; font-weight: 100;}
h4, %h4 {font-size: 1.15rem;    line-height: 1.3rem;}

%pCentrato { //paragraph max width
        max-width: $parMaxWidth;
        margin-left: auto;
        margin-right: auto;
}
p { //paragraph
    margin-bottom: $defaultSizeLH;
    margin-top: 0;
}
a {
    color: $nero;
    &:link      { color: $nero; }
    &:visited   { color: $nero; }
    &:hover     { color: $arancione; }
    &:active    { color: $nero; }
    &.cta {
        text-transform: uppercase;
        @extend %tstarBold;
    }
}
%aFondoRosso {
    a {
        color: $bianco;
        &:link      { color: $bianco; }
        &:visited   { color: $bianco; }
        &:hover     { color: $nero; }
        &:active    { color: $nero; }
        
    }
}

.strillo, %strillo {
    font-size: 3.5vw;
    line-height: 1.1em;
    @include micro-mobile-mobileX {font-size: 6vw;}
}
.strillo2, %strillo2 {
    font-size: 2vw;
    line-height: 1.3em;
    @include micro-mobile-mobileX {font-size: 1rem;}
}
article {
    h1,h2,h3,h4,h5,h6,h7,ul,ol,form,table,
    p {
        @extend %pCentrato;
        &.larghezzaTutta {
            max-width: 100vw;
        }
    }
}
table {
    width: 100%;
    border: $stileBordiTabella;
    margin-bottom: $defaultSizeLH;
    tr {
        border-bottom: $stileBordiTabella;
        td,th {
            padding: $spaziaturaStdMinore;
            text-align: left;
        }
    }
}
input.button {
    margin-bottom: $spaziaturaStd;
    text-transform: uppercase;
    @extend %tstarBold;
    background-color: $arancione;
    border: 2px solid transparent;
    color: $bianco;
    &:hover {
        background-color: $bianco;
        border: 2px solid $arancione;
        color: $arancione;
    }
}
input.form-text,
input.form-search,
input.form-email,
input[type="text"],
input[type="tel"] {
    border: 1px solid $grigioFiletto;
    margin: $spaziaturaStd $spaziaturaStdMinore;
    padding: $spaziaturaForm $spaziaturaStdMinore;
    line-height: $textFieldHeightStd;
    font-size: $defaultSize;
    &:focus {
        border: 1px solid $arancione;
    }
}
label, %label,
.description {
    color: $grigioIntermedio;
    @extend %tstar;
    font-size: $defaultSize;
}
p.label {
    @extend %label;
}
.description {
    @extend %small;
}
.form-item,
.webform-term-checkboxes {
    margin-top: 0;
    margin-bottom: $spaziaturaStd * 2;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
    max-width: $parMaxWidth;
    box-sizing: border-box;
    &:last-child {
        margin-bottom: 0;
    }
    label,
    legend,
    .description {
        display: block;
        padding-left: calc( #{$spaziaturaStdMinore} + 1px );
        padding-bottom: $spaziaturaForm;
        @extend %label;
        box-sizing: border-box;
    }
    legend {
        border-bottom: 1px solid $grigioFiletto;
        width: 100%;
    }
    input.form-text,
    input.form-email {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        width: 100% !important;
        box-sizing: border-box;
    }
    .form-checkboxes {
        //display: flex;
        //flex-wrap: wrap;
        column-count: 2;
        padding-top: $spaziaturaStdMinore;
        .form-type-checkbox {
            display: flex;
            align-items: baseline;
            border: 1px solid $grigioFiletto;
            padding: $spaziaturaStdMinore;
            margin: 0;
            margin-bottom: $spaziaturaStdMinore;
            &.form-item-corsi-interesse-99 { // foundation year
                body.lang-it & {
                    display: none;
                }
            }
        }
    }
    .form-checkboxes-2col { // FIXME _ non utilizzato — DA CANCELLARE PROBABILMENTE A SITO LANCIATO
        .form-type-checkbox {
            width: 48% !important;
            margin-right: 4%;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-last-child(-n+2) {
                margin-bottom: 0 !important;
            }
            label {
                color: $nero;
            }
            //&:nth-child(-n+3) {
            //    width: 100% !important;
            //    margin-right: 0;
            //}
        }
    }
}
fieldset.webform-select2 {
    legend {
        border-bottom: none !important;
    }
    margin-bottom: 0;
}
.form-tel { //input
    &::placeholder {
        color: $grigioIntermedio;
    }    
}
.form-type-tableselect {
    table + .description {
        border-bottom: 1px solid $grigioFiletto;
        margin-top: -  $spaziaturaStd;
    }
    th {
        @extend %label;
    }
    tr {
        cursor: pointer;
        &.selected {
            td {
                background-color: $verde;
            }
        }
    }
}
textarea {
    border: 1px solid $grigioFiletto;
    margin: $spaziaturaStd $spaziaturaStdMinore;
    padding: $spaziaturaStdMinore/1.618/1.618/1.618 $spaziaturaStdMinore;
    width: 100% !important;
    max-width: $parMaxWidth;
    box-sizing: border-box;
    &:focus {
        border: 1px solid $arancione;
    }    
}
hr.wp-block-separator {
    width: 100%;
    max-width: none !important;
    border-bottom: 1px solid $arancione;
}