//@import '_settings';
//@import '_colori';
//@import '_tipografia';

// da _settings
$spaziaturaStd:                     1rem;
$bpMobile       : 320px;

// da _tipografia
$headerSizeLH:          1.1rem;     // ex-$lineHeightMenu    > $headerSizeLH
$headerSize:            16px;       // ex-$headerDefaultSize > $headerSize
.tstarBold, %tstarBold      { font-family: 'tstar'; font-style: normal; font-weight: 700; }

#block-menu-2-asidesx,
.view-banner-corsi { // view banner corsi aggiunta come asset tramite css injection
    z-index: 20;
    left: 0;
    //@include SOLO-DESKTOP-BIG;
    margin-top: calc(#{$spaziaturaStd} - 2px); //a occhio
    .views-row {
        margin-bottom: $headerSizeLH;
        &:last-child {
            margin-bottom: 0;
        }
        .blocchetto {
            border-width: 1px;
            border-style: solid;
            padding: $spaziaturaStd/2;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: $bpMobile;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .testo {
                -webkit-box-flex: 2;
                -ms-flex-positive: 2;
                flex-grow: 2;
                margin-top: -2px;
                p {
                    margin: 0;
                    font-size: $headerSize;
                    line-height: $headerSizeLH;
                }
            }
            .immagine {
                width: 70px;
                img {
                    display: block;
                }
            }
        }
    }
} // fine banner corsi