@charset "UTF-8";

@import url("https://use.typekit.net/hza2eqg.css");

@import '_settings';
@import '_colori';
@import '_tipografia';
//@import '_flexbox-grid-mixins';

// gabbia grafica
// da https://thingsym.github.io/flexbox-grid-mixins/#Examples
@import '_flexbox-grid-mixins';

%aToCTA1 {
    border: 2px solid $arancione;
    padding: 2px 4px;
    background-color: $arancione;
    color: $bianco;
    text-decoration: none;
    &:hover {
        background-color: $bianco;
        color: $arancione;
    }
}

body {
    background-color: $bianco;
}

//grid system
body {
    .dialog-off-canvas-main-canvas {
        .layout-container {
            header {
                .region {}
            }
            main {
                .layout-content {}
            }
            footer {
                .region {}
            }
        }
    }
}

// normalize il normalize
figure {
    margin: 0;
}
img {
    width: 100%;
    height: auto;
}
figcaption {
    color: $nero !important;
}

// layout per authenticated user
.role-authenticated {
    #block-fluffiness-local-tasks {
        margin-bottom: $spaziaturaStd;
        nav.tabs {
            position: relative;
            border: 1px solid $grigioFiletto;
            margin-top: $spaziaturaStd*2;
            font-size: $headerSize;
            line-height: $headerSizeLH;
            @extend %tstarBold;
            &::after {
                content: "Modifiche al nodo";
                position: absolute;
                top: -$spaziaturaStd;
                @extend %small;
                @extend %tstar;
            }
            ul {
                padding: 0;
                margin: 0;
                //a {
                //    text-decoration: underline;
                //}
            }
        }
    }
}
nav#block-fluffiness-tools {
    border: 1px solid $grigioFiletto;
    margin-top: $spaziaturaStd*2;
    font-size: $headerSize;
    line-height: $headerSizeLH;
    @extend %tstarBold;
    position: relative;
    h2 {
        position: absolute;
        top: -34px;
        @extend %small;
        @extend %tstar;
    }
    & > ul {
        padding: 0;
        margin: 0;
        display: flex;
        li {
            padding: 0;
            margin: 0;
            //margin-right: $spaziaturaStd;
            a {
                padding: 0.2em 1em;
                display: block;
            }
        }
    }
}

// layout su tutte le pagine
header {
    .region-toptopbar {
        .messages {
            color: $nero;
            border-color: transparent;
            border: none;
            background-image: none;
            -webkit-box-shadow: none;            box-shadow: none;
            width: 100vw;
            box-sizing: border-box;            
        }
        .messages--status {
            background-color: $verde;
        }
        .messages--warning {
            background-color: $gialloWarning;            
        }
    }
    .region-topbar {
        background-color: $arancione;
        color: $bianco;
        @extend %aFondoRosso;
        .contattibar {
            height: $contattiBarHeight;
            .field--name-body {
                display: flex;
                justify-content: flex-end;
                p, div.icona {
                    margin: 0;
                    margin-right: $spaziaturaMenu;
                    width: auto;
                    line-height: $contattiBarHeight;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                div.icona {
                    //margin-top: 1px;
                }
            }
            .lang {
                ul { // .language-switcher-language-url
                    list-style: none;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    @extend %small;
                    color: $bianco;
                    @extend %aFondoRosso;
                    line-height: $contattiBarHeight;
                    li {
                        list-style-type: none;
                        display: block;
                        margin: 0;
                        padding: 0;
                        margin-right: $spaziaturaStdMinore;
                        &:last-child {
                            margin-right: 0;
                        }
                        a.is-active {
                            color: rgba($bianco,0.6);
                        }
                    }
                }
            }
        }
    }
    .region-header {
        display: flex;
        align-items: flex-end;
        position:  relative;
        font-size: $headerSize;
        line-height: $headerSizeLH;
        height: $headerHeightEspansa;
        padding-top: $headerHeightEspansaPadding;
        padding-bottom: $headerHeightEspansaPaddingBottom;
        box-sizing: border-box;
        background-color: $bianco80;
        z-index: 10;
        border-top: 2px solid $arancione;
        &.sticky {
//            background-color:;
            position: fixed;
            top: 0;
            width: 100%;
        }
        #block-fluffiness-branding {
            .site-logo-wrapper {
                width: 232px;
                //height: 80px;
                a {
                    position: relative;
                    left: -8px;
                    display: block;
                    img {
                        display: block;
                    }
                }
            }
        }
        .menuPrincipale {
            z-index: 20;
            flex-grow: 99;
            @include SOLO-LAPTOP-DESKTOP-BIG;
            .menuViewLivello0 { //.menuPrincipale.menuViewLivello0
                & > .view-content {
                    display: flex;
                    justify-content: flex-end;
                    & > .views-row {
                        &:last-child {
                            .menuLiv0Voce > .sottoMenu {
                                right: 0;
                                .menuViewLivello2 {
                                    .voce {
                                        margin-right: 0 !important;
                                    }
                                }
                            }
                        }
                        .menuLiv0Voce {
                            position: relative;
                            margin-right: $spaziaturaMenu;
                            &.menuOrizzontale {
                                & > .sottoMenu {
                                    width: auto;
                                    .menuViewLivello2 {
                                        & > .view-content {
                                            display: flex;
                                            width: $bpMobile * 3 * 0.8;
                                            flex-wrap: wrap;
                                            position: relative;
                                            & > .views-row {
                                                //border-top: 1px solid red;
                                                width: $bpMobile * 0.8;
                                            }
                                        }
                                    }
                                }
                            }
                            .menuActive & {
                                & > .voce {
                                    a {
                                        color: $grigioMenu !important; //working in progress
                                    }
                                }
                                &.active > .voce {
                                    a {
                                        color: $nero !important;
                                    }
                                }
                            }
                            &.active > .sottoMenu {
                                height: $menuSubmenuHeight;
                                -webkit-transition: $menuTransitionIn;
                                transition: $menuTransitionIn;
                            }
                            & > .voce {
                                white-space: nowrap;
                                @extend %tstarBold;
                                text-transform: uppercase;
                            }
                            & > .sottoMenu {
                                width: $bpMobile;
                                position: absolute;
                                height: 0;
                                -webkit-transition: $menuTransitionOut;
                                transition: $menuTransitionOut;
                                overflow: hidden;
                                .menuViewLivello2 {
                                    .views-row {
                                        &:last-child {
                                            padding-bottom: $spaziaturaStd/2; //per correggere un errore sconosciuto nel calcolo dell'altezza da jquery
                                        }
                                        .menuLiv1Voce {
                                            & > .voce {
                                                border-top: 1px solid $grigioFiletto;
                                                @extend %tstarBold;
                                                margin-top: $headerSizeLH;
                                                margin-right: $spaziaturaStd;
                                            }
                                            & > .sottoMenu {
                                                padding-left: $spaziaturaMenu / 2;
                                            }
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                & > .sottoMenu {
                                    //width: $bpMobile / 2; //fixme
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        #block-fluffiness-search {
            @include SOLO-LAPTOP-DESKTOP-BIG;
            //display: none;
            margin-right: $spaziaturaMenu;
            display: flex !important;
            //position: relative;
            .campo {
                width: 100vw;
                position: absolute;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 0;
                overflow: hidden;
                border-bottom: 1px solid transparent;
                background-color: transparent;
                -webkit-transition: $menuTransitionOutBackground;
                transition: $menuTransitionOutBackground;
                &.active {
                    height: $menuSearchHeight;
                    -webkit-transition: $menuTransitionInBackground;
                    transition: $menuTransitionInBackground;
                    border-bottom: 1px solid $grigioFiletto;
                    background-color: $menuBackground;
                    bottom: -$menuSearchHeight;
                }
                form {
                    height: $textFieldHeightStd;
                    position: relative;
                    .form-type-search {
                        margin: 0;
                        padding: 0;
                        input.form-search {
                            width: 50vw;
                            margin: 0;
                            line-height: $textFieldHeightStd;
                        }
                    }
                    .form-actions {
                        display: block !important;
                        position: absolute;
                        right: 12px;
                        top: 12px;
                        input.button {
                            margin: 0;
                        }
                    }
                }
            }
            .lente {
                cursor: pointer;
                position: relative;
                top: 5px;
            }
        }
        .headerCTA {
            @include SOLO-LAPTOP-DESKTOP-BIG;
            p {
                margin: 0;
                a {
                    @extend %aToCTA1;
                    //margin: 0 $spaziaturaStd;
                }
            }
        }
        #block-menu-2-asidesx {
            z-index: 20;
            left: 0;
            @include SOLO-DESKTOP-BIG;
            margin-top: calc(#{$spaziaturaStd} - 2px); //a occhio
            .views-row {
                margin-bottom: $headerSizeLH;
                &:last-child {
                    margin-bottom: 0;
                }
                .blocchetto {
                    border-width: 1px;
                    border-style: solid;
                    padding: $spaziaturaStd/2;
                    box-sizing: border-box;
                    width: $bpMobile;
                    display: flex;
                    .testo {
                        flex-grow: 2;
                        margin-top: -2px;
                        p {
                            margin: 0;
                            font-size: $headerSize;
                            line-height: $headerSizeLH;
                        }
                    }
                    .immagine {
                        width: 70px;
                        img {
                            display: block;
                        }
                    }
                }
            }

        }
        #block-menu-dd-dx-ita {
            z-index: 20;
            right: 0;
            margin-top: 2px;
        }
        #block-menu-dd-dx-ita,
        #block-menu-2-asidesx {
            position: absolute;
            top: $menuSubmenuYOffset; //fixme
            height: 0;
            overflow: hidden;
            -webkit-transition: $menuTransitionOut;
            transition: $menuTransitionOut;
            &.active {
                height: $menuSubmenuHeight;
                -webkit-transition: $menuTransitionIn;
                transition: $menuTransitionIn;
            }
        }
        #block-menu1dropdownbackground {
            position: absolute;
            top: $menuSubmenuYOffset; //fixme
            overflow: hidden;
            z-index: 10;
            left: 0;
            width: 100vw;
            height: 0;
            display: block;
            background-color: $menuBackground;
            border-bottom: 0 solid transparent;
            -webkit-transition: $menuTransitionOutBackground;
            transition: $menuTransitionOutBackground;
            &.active {
                background-color: $menuBackground; // $bianco80
                height: $menuSubmenuHeight;
                border-bottom: 1px solid $grigioFiletto;
                -webkit-transition: $menuTransitionInBackground;                transition: $menuTransitionInBackground;
            }
        }
        #block-menu1hamburger {
            @include SOLO-MOBILE-MOBILEX;
            @include SOLO-TABLET;
            display: none;
            flex-grow: 99;
            &.active {
                display: block;
            }
            .field--name-body {
                text-align: right;
                .hamburger {
                    .hamburger-label {
                        display: block;
                        text-transform: uppercase;
                        @extend %tstarBold;
                        padding-top: 0.15rem;
                    }
                }
            }
        }
    }
}
footer {
    position: relative;
    padding-top: 90px;
    #block-fasciascorrevole {
        width: 100vw;
        background-color: $nero;
        text-transform: uppercase;
        //@extend %strillo;
        font-size: $fasciaScorrevoleSize;
        line-height: 1em;
        height: 1em;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        left: 0;
        top:0;
        color: $bianco;
        p {
            margin: 0;
            position: relative;
            height: 1em;
            @keyframes fascia1 {
                0% {
                    transform: translate(0, 0);
                }
                100% {
                    transform: translate(-200%, 0);
                }
            }
            @keyframes fascia2 {
                0% {
                    transform: translate(100%, 0);
                }
                100% {
                    transform: translate(-100%, 0);
                }
            }
            @keyframes fascia3 {
                0% {
                    transform: translate(200%, 0);
                }
                100% {
                    transform: translate(0, 0);
                }
            }
            span {
                //border: 1px solid white;
                display: block;
                position: absolute;
                top: 0;
                height: 1em;
                width: 100vw;
                &:nth-child(1) {
                    animation: fascia1 $fasciaScorrevoleDurata linear infinite;
                }
                &:nth-child(2) {
                    animation: fascia2 $fasciaScorrevoleDurata linear infinite;
                }
                &:nth-child(3) {
                    animation: fascia3 $fasciaScorrevoleDurata linear infinite;
                }
            }
        }

    }
    #block-footer {
        //padding-top: 90px; //#block-fasciascorrevole
        .field--name-body {
            @extend .grid;
            p {
                @extend .grid__col-3;
                border-top: 1px solid $grigioFiletto;
            }
        }
    }
}

//stili
.stile-Nascondi-il-titolo {
    h1.page-title {
        display: none;
    }
}
//.stile-Immagine-di-apertura {
//    .field--name-field-immagine {
//        z-index: 1;
//        width: calc(100% + 40px);
//        position: relative;
//        left: -20px;
//        img {
//            width: 100%;
//            height: auto;
//        }
//    }
//}
//.stile-Titolo-creativo {
//    .field--name-field-tcreativo {
//        z-index: 2;
//        position: relative;
//        h2 {
//            margin: 0;
//            @extend %h1;
//            text-align: center;
//            color: $arancione;
//        }
//    }
//}
.headerHero { // <figure> come .stile-Titolo-creativo
    position: relative;
    figcaption {
        margin: 0;
        @extend %h1;
        color: $arancione;
        position: absolute;
        line-height: 2em;
        top: calc( 50% - 1em);
        width: 100%;
        text-align: center;
        display: block;
        em {
            @extend %bodoniBoldItalic;
            font-size: 1.18em;
            letter-spacing: 0.05em;
        }
    }
}
.larghezzaTutta, %larghezzaTutta { // c'e' anche un selettore p.larghezzaTutta su tipografia.scss
    width: 100vw;
    max-width: 100vw;
    height: auto;
    //max-height: auto;        
    position: relative;
    box-sizing: border-box;
    //left: su _settings c'e' il valore responsivo
    & > figure {
        width: 100vw;
        max-width: 100vw;
        height: auto;
        //max-height: auto;        
    }
}
.alignfull {
    @extend %larghezzaTutta;
}
.wp-block-group.has-background { //correggo gutenberg
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.wp-block-columns {
    &:last-child {
        margin-bottom: 0;
    }
}
.has-background {
    padding-top: $defaultSizeLH;
    padding-bottom: $defaultSizeLH;
}

//elementi e views sparse nel sito
.view-banner-corsi {
    .view-content {
        display: flex;
        justify-content: space-between;
        .views-row {
            max-width: calc((100%-#{$default-grid-gutter}-#{$default-grid-gutter})/3);
            height: auto;
            margin-right: $default-grid-gutter;
            &:last-child {
                margin-right: 0;
            }
            .banner {
                a {
                    position: relative;
                    display: block;
                    .immagine {
                        position: relative;
                        z-index: 1;
                        img {
                            display: block;
                        }
                    }
                    .titolo {
                        line-height: 159px;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        z-index: 2;
                        width: 100%;
                        @extend %tstarBold;
                        font-size: 2rem;
                        color: $arancione;
                    }
                    &:hover {
                        .titolo {
                            color: $bianco;
                        }
                    }
                }
            }
            .etichetta {
                @extend %small;
                text-align: center;
            }
        }
    }
}
.progettiColonne3 {
    pre {
        white-space: break-spaces;        
    }
    & > .wp-block-column {
        &:nth-child(2) {
            min-width: $parMaxWidth;
        }
    }
}
ul.blocks-gallery-grid {
    max-width: 100%;
}
//colorbox
#cboxWrapper {
    border-radius: 0 !important;
    background-color: $bianco30;
    #cboxNext,
    #cboxPrevious,
    #cboxClose {
        background-image: url(../img/controls2.png);
    }
    #cboxContent {
        background: $bianco80;        
    }
    #cboxCurrent {
        bottom: -2px;
    }
}
body.page-node-type-progetto.role-anonymous {
    .wp-block-preformatted {
        display: none;
    }
}
.tag, %tag {
    padding: 4px;
    //background-color: $arancione20;
    border: 1px solid $grigioFiletto;
    cursor: pointer !important; // fixme c'e' un problema con il cursore manina qui
    margin-right: $spaziaturaStdMinore !important;
    margin-bottom: $spaziaturaStdMinore !important;
    display: block;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        border: 1px solid $arancione;
    }
}
.view-progetti,
.view-docenti-griglia { // queste view hanno anche un layout .html.twig apposito
    margin-top: $spaziaturaStd;
    margin-bottom: $spaziaturaStd;    
    .view-header {
        padding-bottom: $spaziaturaStdMinore;
    }
    .views-row {
        margin-bottom: $spaziaturaStd;
        .progWrapper,
        .docentiWrapper {
            max-width: 268px;
            a {
                display: block;
                position: relative;
                .immagine {
                    overflow: hidden;
                    img {
                        display: block;
                        -webkit-transition: $transitionStdOut;                        transition: $transitionStdOut;
                    }
                };
                .titleWrapper {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    color: transparent;
                    -webkit-transition: $transitionStdOut;                    transition: $transitionStdOut;
                    .title {
                        text-align: center;
                        @extend %h3;
                        @extend %tstarBold;
                        padding: $spaziaturaStdMinore;
                        box-sizing: border-box;
                        width: 100%;
                    }
                }
                &:hover {
                    img {
                        transform: scale(1.2);
                        -webkit-transition: $transitionStdOut;                        transition: $transitionStdOut;
                    }
                    .titleWrapper {
                        background-color: $bianco80;
                        -webkit-transition: $transitionStdIn;                        transition: $transitionStdIn;
                        color: $nero;                        
                    }
                }
            }
        }
        &:nth-child(n+7) {
            margin-bottom: 0;
        }
    }
    .view-footer {
        text-align: right;
        padding-top: $spaziaturaStdMinore;
    }
}
.view-partner {
    background-color: $biancoPuro;
    border-top: 1px solid $grigioFiletto;
    border-bottom: 1px solid $grigioFiletto;
    padding-top: $spaziaturaStd;
    padding-bottom: $spaziaturaStd;
    @extend %larghezzaTutta;
    @extend %paddingPagina;
    .views-row {
        img {
            display: block;
        }
        &:nth-child(n+9) {
            margin-bottom: 0;
        }
    }
}
.wideLineLenght {margin-left: 0;}
.view-carosello {
    @extend .larghezzaTutta;
    .slick--view--carosello {
        position: relative;
        .slick__slider {
            position: relative;
            .slick-list {
                //order: 2;
                .slick-track {
                    .slick-slide {
                        .slide {
                            & > div {
                                position: relative;
                                .immagine {
                                    display: block;
                                    font-size: 0;
                                    line-height: 0;                                    
                                    img {
                                        display: block;
                                        margin: 0;
                                    }
                                }
                                .blocchetto {
                                    position: absolute;
                                    bottom: 0;
                                    padding-top: $spaziaturaStd;
                                    padding-bottom: $spaziaturaStdMinore;
                                    h2 {
                                        background-color: $bianco;
                                        margin-top: 0;
                                    }
                                    p {
                                        background-color: $bianco;                                        
                                    }
                                    .cta {
                                        a {
                                            @extend %aToCTA1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
            .slick-dots { //ul
                //width: 500px !important;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                list-style: none;
                max-width: none;
                width: auto;
                display: flex;
                position: absolute;
                top: 0;
                -webkit-transition: $transitionStdOut;                transition: $transitionStdOut;
                //padding-left: calc(#{($caroselloArrowWidth * 2)} + #{($spaziaturaStdMinore * 2)});
                li {
                    list-style-type: none;
                    width: $caroselloArrowWidth; //19px
                    height: $caroselloArrowHeight; //22px
                    button {
                        background-color: transparent;
                        border: 0;
                        background-image: url(../img/carosello_placeholder.svg);
                        width: $caroselloArrowWidth; //19px
                        height: $caroselloArrowHeight; //22px
                        color: transparent;
                        &:hover {
                            background-image: url(../img/carosello_placeholder_arancione.svg);
                        }
                    }
                    &.slick-active {
                        button {
                            background-image: url(../img/carosello_current.svg);
                            &:hover {
                                background-image: url(../img/carosello_current_arancione.svg);
                            }
                        }
                    }
                }
            }
        }
        .slick__arrow { //nav
            width: auto;
            position: absolute;
            top: 0;
            -webkit-transition: $transitionStdOut;            transition: $transitionStdOut;
            display: flex;
            .slick-arrow {
                //color: transparent;
                width: $caroselloArrowWidth; //19px
                height: $caroselloArrowHeight; //22px
                border: 0;
                display: block;
                background-color: $bianco;
                &:hover {
                    background-color: $arancione;
                }
                &.slick-prev {
                    background-image: url(../img/carosello_prev_traspa.svg);
                    margin-right: $spaziaturaStdMinore;
                }
                &.slick-next {
                    background-image: url(../img/carosello_next_traspa.svg);                    
                }
            }
            
        }
    }
}
.wp-block-columns {
    .wp-block-column {
        &:first-child {
            h2,h3,h4,h5,p {
                margin-left: 0;
            }
        }
    }
}
.wp-block-separator {
    border-bottom: 1px solid $grigioFiletto;
}
.fondoArancione {
    background-color: $arancione;
    padding: $spaziaturaStdMinore;
    box-sizing: border-box;
    color: $bianco;
}
.fondoGrigio {
    background-color: $grigioFondo;
}
figure.alignwide.wp-block-embed-youtube {
    iframe {
        display: block;
        margin: 0 auto;
    }
}
.centerVideo {
    .wp-block-embed__wrapper {
        iframe {
            margin: 0 auto;
            display: block;
        }
    }
}
.paragraphToCTA {
    @extend %h2;
    text-align: center;
    text-transform: uppercase;
    a {
        @extend %aToCTA1;
        width: 100%;
        display: block;
        box-sizing: border-box;
        //background-color: $arancione;
        //padding: 5px $spaziaturaStdMinore;
    }
}
.paragrafoMarginBottomMinore {
    margin-bottom: $spaziaturaStdMinore !important;
}
.schedaProgetti {
    .wp-block-columns {
        margin-bottom: $spaziaturaStd;
        border-top: 1px solid $bianco30;
        font-size: 1.1em;
        &:last-child {
            margin-bottom: 0;
        }
        .wp-block-column {
            &:nth-child(1) {
                @extend %tstarItalic;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}
.tuttoMaiuscolo {
    text-transform: uppercase;
}
.wp-block-group.has-background {
    margin-bottom: $spaziaturaStd;
    padding-bottom: $spaziaturaStd * 1.5;
}
.corsivoToBodoni {
    em {
        @extend %bodoniItalic;
        font-size: 1.35em;
    }
}
.corsivoToArancione {
    em {
        color: $arancione;
    }
}
.paragrafiNoMargine {
    p {
        margin-bottom: 0;
    }
}
.grigliaSaveTheDate {
    border-top: 1px solid rgba($grigioFiletto,0.45);
    margin-bottom: $spaziaturaStdMinore;
    &:last-child {
        margin-bottom: $spaziaturaStd;
    }
}
.immagineHashtag { //figure
    position: relative;
    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        @extend %h1;
        @extend %tstarBold;
    }
}
.view-docenti-wwwinsta {
    .views-row {
        display: flex;
        margin-bottom: $spaziaturaStd
    }
    .views-field {
        width: calc( (100% - #{$default-grid-gutter}) / 2 );
        margin-right: $default-grid-gutter;
        border-top: 1px solid $grigioFiletto;
        &:last-child {
            margin-right: 0;
        }
    }
}
.view-progetto-docente {
    margin-bottom: $spaziaturaStd;
    .field-content {
        @extend %h3;
    }
}
.lang-it { //body
    .onlyEng {
        display: none;
    }
}
.lang-en { //body
    .onlyIta {
        display: none;
    }
}
.view-display-id-block_progdocente {
    .view-header {
        border-top: 1px solid $grigioFiletto;
    }
}
.filoSopra {
    border-top: 1px solid $grigioFiletto;
}
#block-menu-1-mobile {
    position: fixed;
    top: 0;
    left: 50%;
}
//
// FINE elementi e views sparse nel sito


// pagine particolari
.path-search { //body
    .search-help-link {
        display: none;
    }
}
.view-scheda-progetto-tags {
    .views-row {
        margin-bottom: $spaziaturaStd;
        .views-field {
            border-top: 1px solid $grigioFiletto;
            margin-bottom: $spaziaturaStdMinore;
            //@extend %tag;
            white-space: nowrap;
            font-size: $headerSize;
            line-height: $headerSizeLH;
            &:first-child {
                border-top: none;
            }
            ul {
                list-style: none;
                list-style-type: none;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                li {
                    @extend %tag;
                    margin: 0;
                    white-space: nowrap;
                    font-size: $headerSize;
                    line-height: $headerSizeLH;
                }
            }
            p.label {
                font-size: $headerSize;
            }
        } 
    }
}
.page-node-type-progetto {
    .wp-block-column {
        border-top: 1px solid $grigioFiletto;
        padding-top: $spaziaturaStd;
        h3 {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}
.path-webform {
    .webform-submission-form {
        max-width: $parMaxWidth;
        margin: 0 auto;
    }
}
