@charset "UTF-8";

@import url("https://use.typekit.net/hza2eqg.css");

@import '_settings';
@import '_colori';
@import '_tipografia';
//@import '_flexbox-grid-mixins';

// gabbia grafica
// da https://thingsym.github.io/flexbox-grid-mixins/#Examples
@import '_flexbox-grid-mixins';

.aToCTA1,
%aToCTA1 { // ci sta anche .paragraphToCTA1 .paragraphToCTA2
    border: 2px solid $arancione;
    padding: 2px 4px;
    background-color: $arancione;
    color: $bianco;
    text-decoration: none;
    &:hover {
        background-color: $bianco;
        color: $arancione;
    }
}
.aToCTA2,
%aToCTA2 {
    @extend %h4;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    margin-left: auto;
    display: block;
    &:hover {
        @extend %aToCTA1;
        width: 100%;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

body {
    background-color: $bianco;
}

//grid system
body {
    .dialog-off-canvas-main-canvas {
        .layout-container {
            header {
                .region {}
            }
            main {
                .layout-content {
                    @include micro-mobile-mobileX {
                        overflow-x: hidden;
                    }
                }
            }
            footer {
                .region {}
            }
        }
    }
}

// normalize il normalize
figure {
    margin: 0;
}
img {
    width: 100%;
    height: auto;
}
figcaption {
    color: $nero !important;
}
.wp-block-gallery {
    ul.blocks-gallery-grid {
        li.blocks-gallery-item {
            display: block;
            figure {
                display: block !important;
                img {
                    height: auto;
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                    -o-object-fit: cover;
                    object-fit: none;
                }
                figcaption {
                    background: none !important;
                    text-align: left !important;
                    position: relative !important;
                    padding: 0 !important;
                    padding-top: $spaziaturaStdMinore / 2 !important;
                    display: block !important;
                }
            }

        }
    }
}
#sib-container {
    padding: 0 !important;
}
.sib-form-block { // sovrapporre le regole di sendinblue per modulo iscrizione newsletter
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.sib-form {
    @extend %tstar;
    font-family: 'tstar' !important;
    padding-top: 0 !important;
}

#block-fluffiness-local-tasks {
    @extend %larghezzaMaxPar;
    margin-bottom: $spaziaturaStd !important;
    nav.tabs {
        position: relative;
        border: 1px solid $grigioFiletto;
        margin-top: $spaziaturaStd*2;
        font-size: $headerSize;
        line-height: $headerSizeLH;
        @extend %tstarBold;
        &::after {
            content: "Modifiche al nodo";
            position: absolute;
            top: -$spaziaturaStd;
            @extend %small;
            @extend %tstar;
        }
        ul {
            padding: 0;
            margin: 0;
        }
    }
}
nav#block-fluffiness-tools {
    border: 1px solid $grigioFiletto;
    margin-top: $spaziaturaStd*2;
    margin-bottom: $spaziaturaStd;
    font-size: $headerSize;
    line-height: $headerSizeLH;
    @extend %tstarBold;
    position: relative;
    h2 {
        position: absolute;
        top: -34px;
        @extend %small;
        @extend %tstar;
    }
    & > ul {
        padding: 0;
        margin: 0;
        padding: 1em 0;
        //display: -webkit-box;
        //display: -ms-flexbox;
        //display: flex;
        list-style: disc;
        list-style-position: inside;
        li {
            padding: 0;
            margin: 0;
            margin-left: 1em;
            margin-bottom: 0.5em;
            //margin-right: $spaziaturaStd;
            a {
                //padding: 0.2em 1em;
                //display: block;
            }
        }
    }
}

// layout su tutte le pagine
header {
    //padding-bottom: $headerHeightEspansa;
    .region-toptopbar {
        .messages {
            color: $nero;
            border-color: transparent;
            border: none;
            background-image: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 100vw;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .messages--status {
            background-color: $verde;
        }
        .messages--warning {
            background-color: $gialloWarning;
        }
    }
    .region-topbar {
        background-color: $arancione;
        color: $bianco;
        @extend %aFondoRosso;
        .contattibar {
            height: $contattiBarHeight;
            .field--name-body {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                p, div.icona { // p sarebbe il telefono
                    margin: 0;
                    margin-right: $spaziaturaMenu; // qui la spaziatura rimane quella maggiore anche su tablet
                    width: auto;
                    line-height: $contattiBarHeight;
                    &:last-child {
                        margin-right: 0;
                    }
                    @include micro-mobile-mobileX-tablet {
                      margin-right: 20px;
                    }
                }
                div.icona {
                    margin-top: 3px;
                }
                div.icona.youtube {
                    //margin-right: 0 !important; //quando non c'e' lo switch lingua language
                }
                p.telefono {
                  span.icona-telefono {
                    line-height: 22px;
                    position: relative;
                    top: 4px;
                  }
                  a {
                    position: relative;
                    top: -2px;
                  }
                }
            }
            .lang {
                ul { // .language-switcher-language-url
                    list-style: none;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    @extend %small;
                    color: $bianco;
                    @extend %aFondoRosso;
                    line-height: $contattiBarHeight;
                    padding-top: 1px;
                    li {
                        list-style-type: none;
                        display: block;
                        margin: 0;
                        padding: 0;
                        margin-right: $spaziaturaStdMinore;
                        &:last-child {
                            margin-right: 0;
                        }
                        a.is-active {
                            color: rgba($bianco,0.6);
                        }
                    }
                }
                &.soloEditor {
                    padding: 0 0.5em;
                    margin: 0;
                    position: relative;
                    &::before {
                        //content: 'soloEditor';
                        //position: absolute;
                        //bottom: -20px;
                        //display: block;
                        //margin: 0;
                        //padding: 0;
                        //z-index: 20;
                        content: none;
                        display: none;
                    }
                }
            }
        }
    }
    .region-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100vw;
        font-size: $headerSize;
        line-height: $headerSizeLH;
        //position: absolute;
        //height: $headerHeightEspansa;
        height: auto;
        padding-top: $headerHeightEspansaPadding;
        padding-bottom: $headerHeightEspansaPaddingBottom;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: $bianco80;
        z-index: 10;
        border-top: $stileBordoBodySup; // bordino arancione spesso allo scorrere (presente su .region-header e .menuPrincipaleMobile)
        -webkit-transition: $menuTransitionOut;
        transition: $menuTransitionOut;
        position: relative;
        #block-fluffiness-branding {
            z-index: 11;
            position: relative;
            height: $logoH;
            &.sticky {
                height: $logoTagliatoH;
            }
            .site-logo-wrapper {
                position: absolute;
                width: $logoW;
                height: $logoH;
                overflow: hidden;
                -webkit-transition: $transitionStdOut;
                transition: $transitionStdOut;
                &.sticky {
                    -webkit-transition: $transitionStdIn;
                    transition: $transitionStdIn;
                    width: $logoTagliatoW;
                    height: $logoTagliatoH;
                    //margin-bottom: -($logoH - $logoTagliatoH);
                }
                a {
                    position: relative;
                    left: -8px;
                    display: block;
                    width: $logoW;
                    img {
                        display: block;
                    }
                }
            }
        }
        .menuPrincipale {
            z-index: 20;
            -webkit-box-flex: 99;
            -ms-flex-positive: 99;
            flex-grow: 99;
            @include SOLO-LAPTOP-DESKTOP-BIG;
            .menuViewLivello0 { //.menuPrincipale.menuViewLivello0
                & > .view-header {
                  display: none; // pulsante cta richiedi informazioni, valido soltanto nel menu mobile                  
                }
                & > .view-content {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                    & > .views-row {
                        &:nth-last-child(-n+2) { // le ultime due voci del menu hanno sottomenu allineati a sx
                            .menuLiv0Voce > .sottoMenu {
                                right: 0;
                                .menuViewLivello2 {
                                    .voce {
                                        margin-right: 0 !important;
                                    }
                                }
                            }
                        }
                        .menuLiv0Voce {
                            position: relative;
                            margin-right: $spaziaturaMenu;
                            @include laptop {
                                margin-right: $spaziaturaMenuMinore;
                            }
                            &.menuOrizzontale {
                                & > .sottoMenu {
                                    width: auto;
                                    .menuViewLivello2 {
                                        & > .view-content {
                                            display: -webkit-box;
                                            display: -ms-flexbox;
                                            display: flex;
                                            width: $bpMobile * 3 * 0.8;
                                            -ms-flex-wrap: wrap;
                                            flex-wrap: wrap;
                                            position: relative;
                                            & > .views-row {
                                                width: $bpMobile * 0.8;
                                            }
                                        }
                                    }
                                }
                            }
                            .menuActive & {
                                & > .voce {
                                    a {
                                        color: $grigioMenu !important; //working in progress
                                    }
                                }
                                &.active > .voce {
                                    a {
                                        color: $nero !important;
                                    }
                                }
                            }
                            &.active > .sottoMenu {
                                height: $menuSubmenuHeight;
                                -webkit-transition: $menuTransitionIn;
                                transition: $menuTransitionIn;
                            }
                            & > .voce {
                                white-space: nowrap;
                                @extend %tstarBold;
                                text-transform: uppercase;
                            }
                            & > .sottoMenu {
                                width: $bpMobile;
                                position: absolute;
                                height: 0;
                                -webkit-transition: $menuTransitionOut;
                                transition: $menuTransitionOut;
                                overflow: hidden;
                                .menuViewLivello2 {
                                    .views-row {
                                        &:last-child {
                                            padding-bottom: $spaziaturaStd/2; //per correggere un errore sconosciuto nel calcolo dell'altezza da jquery
                                        }
                                        .menuLiv1Voce {
                                            & > .voce {
                                                border-top: 1px solid $grigioFiletto;
                                                @extend %tstarBold;
                                                margin-top: $headerSizeLH;
                                                margin-right: $spaziaturaStd;
                                            }
                                            & > .sottoMenu {
                                                padding-left: $spaziaturaMenu / 2;
                                            }
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                & > .sottoMenu {
                                    //width: $bpMobile / 2; //fixme
                                }
                            }

                        }
                    }
                }
            }
        } // fine menuPrincipale
        .menuPrincipaleMobile {
            position: fixed;
            top: 0;
            left: 0;
            background-color: transparent;
            width: 100vw;
            z-index: 3;
            //display: flex;
            //align-items: center;
            height: 0;
            overflow: hidden;
            border-top: $stileBordoBodySupTrasp; // bordino arancione spesso allo scorrere (presente su .region-header e .menuPrincipaleMobile)
            -webkit-transition: $transitionStdOut;
            transition: $transitionStdOut;
            &.active {
                height: $menuMobileH;
                -webkit-transition: $transitionStdIn;
                transition: $transitionStdIn;
                border-top: $stileBordoBodySup; // bordino arancione spesso allo scorrere (presente su .region-header e .menuPrincipaleMobile)
                background-color: $menuBackgroundMobile;
            }
            & > div > .menuPrincipaleView {
                height: 100vh;
                display: flex;
                align-items: center;
                padding-bottom: $addThisAltezza;
                padding-top: 116px; //FIXME
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            div {
                width: 100%;
            }
            //z-index: 20;
            //-webkit-box-flex: 99;
            //-ms-flex-positive: 99;
            //flex-grow: 99;
            //@include SOLO-LAPTOP-DESKTOP-BIG;
            .menuViewLivello0 { //.menuPrincipale.menuViewLivello0
                margin: 0 auto;
                width: $bpMobile;
                //height: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                & > .view-header {
                  height: 30px;
                  border-top: 1px solid $grigioFiletto;
                  padding-top: $spaziaturaStdMinore / 1.618;
                  margin-bottom: $spaziaturaStdMinore * 1.618;
                  .field--name-body {
                    position: relative;
                    z-index: 2;
                    p {
                        margin: 0;
                        a {
                            @extend %aToCTA1;
                            //margin: 0 $spaziaturaStd;
                        }
                    }
                  }
                }
                & > .view-content {
                    //display: -webkit-box;
                    //display: -ms-flexbox;
                    //display: flex;
                    //-webkit-box-pack: end;
                    //-ms-flex-pack: end;
                    //justify-content: flex-end;
                    & > .views-row {
                        &:last-child {
                            .menuLiv0Voce > .sottoMenu {
                                //right: 0;
                                .menuViewLivello2 {
                                    .voce {
                                        //margin-right: 0 !important;
                                    }
                                }
                            }
                        }
                        .menuLiv0Voce {
                            //position: relative;
                            //margin-right: $spaziaturaMenu;
                            &.menuOrizzontale {
                                & > .sottoMenu {
                                    //width: auto;
                                    .menuViewLivello2 {
                                        & > .view-content {
                                            //display: -webkit-box;
                                            //display: -ms-flexbox;
                                            //display: flex;
                                            //width: $bpMobile * 3 * 0.8;
                                            //-ms-flex-wrap: wrap;
                                            //flex-wrap: wrap;
                                            //position: relative;
                                            & > .views-row {
                                                ////border-top: 1px solid red;
                                                //width: $bpMobile * 0.8;
                                            }
                                        }
                                    }
                                }
                            }
                            .menuActive & {
                                & > .voce {
                                    a {
                                        //color: $grigioMenu !important; //working in progress
                                    }
                                }
                                &.active > .voce {
                                    a {
                                        //color: $nero !important;
                                    }
                                }
                            }
                            &.active > .sottoMenu {
                                //height: $menuSubmenuHeight;
                                //-webkit-transition: $menuTransitionIn;
                                //transition: $menuTransitionIn;
                            }
                            & > .voce { // voci del menu 0
                                //white-space: nowrap;
                                //@extend %tstarBold;
                                //text-transform: uppercase;
                                border-top: 1px solid $grigioFiletto;
                                margin-bottom: $spaziaturaStdMinore;
                                padding-top: $spaziaturaStdMinore / 1.618;
                                @extend %tstarBold;
                                cursor: pointer;
                            }
                            & > .sottoMenu {
                                //width: $bpMobile;
                                //position: absolute;
                                //height: 0;
                                //-webkit-transition: $menuTransitionOut;
                                //transition: $menuTransitionOut;
                                //overflow: hidden;
                                height: 0;
                                overflow: hidden;
                                -webkit-transition: $transitionStdOut;
                                transition: $transitionStdOut;
                                &.active {
                                    height: $menuMobileHSubmenu;
                                    -webkit-transition: $transitionStdIn;
                                    transition: $transitionStdIn;
                                }
                                .menuViewLivello2 {
                                    .views-row {
                                        &:last-child {
                                            //padding-bottom: $spaziaturaStd/2; //per correggere un errore sconosciuto nel calcolo dell'altezza da jquery
                                        }
                                        .menuLiv1Voce {
                                            & > .voce {
                                                //border-top: 1px solid $grigioFiletto;
                                                //@extend %tstarBold;
                                                //margin-top: $headerSizeLH;
                                                //margin-right: $spaziaturaStd;
                                            }
                                            & > .sottoMenu {
                                                //padding-left: $spaziaturaMenu / 2;
                                                //border: 1px solid red;
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                & > .sottoMenu {
                                    //width: $bpMobile / 2; //fixme
                                }
                            }

                        }
                    }
                }
            }
        } //fine menu mobile
        #block-fluffiness-search {
            margin-right: $spaziaturaMenu;
            height: $logoH;
            //position: relative;
            &.sticky {
                height: $logoTagliatoH;
                .lente {
                    top: 34px;
                    @include micro-mobile-mobileX-tablet {
                        top: 9px;
                    }
                }
                .campo {
                    top: $menuSearchHeight - 2px;
                }
            }
            @include laptop {
                margin-right: $spaziaturaMenuMinore;
            }
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            @include micro-mobile {
                display: none !important;
            }
            @include micro-mobile-mobileX-tablet {
                flex-grow: 99;
                .lente {
                    margin-left: auto;
                    margin-bottom: 22px;
                }
            }
            .campo {
                width: 100vw;
                position: absolute;
                left: 0;
                //bottom: 0;
                //bottom: -$menuSearchHeight - 1px;
                top: 104px;
                //wot (??)
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 0;
                overflow: hidden;
                border-bottom: 1px solid transparent;
                background-color: transparent;
                -webkit-transition: $menuTransitionOutBackground;
                transition: $menuTransitionOutBackground;
                z-index: 1;
                &.active {
                    height: $menuSearchHeight;
                    -webkit-transition: $menuTransitionInBackground;
                    transition: $menuTransitionInBackground;
                    border-bottom: 1px solid $grigioFiletto;
                    background-color: $menuBackground;
                    //bottom: -$menuSearchHeight;
                    //bottom: 0;
                    //top: 130px;
                }
                form {
                    height: $textFieldHeightStd;
                    position: relative;
                    .form-type-search {
                        margin: 0;
                        padding: 0;
                        input.form-search {
                            width: 50vw;
                            margin: 0;
                            line-height: $textFieldHeightStd;
                        }
                    }
                    .form-actions {
                        display: block !important;
                        position: absolute;
                        right: 12px;
                        top: 12px;
                        input.button {
                            margin: 0;
                        }
                    }
                }
            }
            .lente {
                cursor: pointer;
                position: relative;
                top: 60px;
                text-align: center;
                z-index: 2;
                .search-label {
                    @extend %headerLabel;
                    margin-top: -2px;
                    visibility: hidden;
                    display: none;
                    @include micro-mobile-mobileX-tablet {
                        visibility: visible;
                        display: block;
                    }
                }
                @include micro-mobile-mobileX-tablet {
                    top: 35px;
                }
                &.active {
                    color: $arancione;
                }
            }
        }
        .headerCTA {
            @include SOLO-LAPTOP-DESKTOP-BIG;
            position: relative;
            z-index: 2;
            p {
                margin: 0;
                a {
                    @extend %aToCTA1;
                    //margin: 0 $spaziaturaStd;
                }
            }
        }
        #block-menu-2-asidesx,
        .view-banner-menu { // view banner corsi aggiunta come asset tramite css injection
            z-index: 20;
            left: 0;
            @include SOLO-DESKTOP-BIG;
            margin-top: calc(#{$spaziaturaStd} - 2px); //a occhio
            .views-row {
                margin-bottom: $headerSizeLH;
                &:last-child {
                    margin-bottom: 0;
                }
                .blocchetto {
                    border-width: 1px;
                    border-style: solid;
                    padding: $spaziaturaStd/2;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    width: $bpMobile;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    .testo {
                        -webkit-box-flex: 2;
                        -ms-flex-positive: 2;
                        flex-grow: 2;
                        margin-top: -2px;
                        p {
                            margin: 0;
                            font-size: $headerSize;
                            line-height: $headerSizeLH;
                        }
                    }
                    .immagine {
                        width: 70px;
                        img {
                            display: block;
                        }
                    }
                }
            }
        } // fine banner corsi
        //#block-menu-dd-dx-ita { //da cancellare dopo test
        .menu_dd_dx {
            z-index: 20;
            right: 0;
            margin-top: 13px;
            .field--name-body {
                p {
                    border-top: 1px solid $grigioFiletto;
                }
            }
        }
        .menu_dd_dx,
        #block-menu-2-asidesx {
            position: absolute;
            top: $menuSubmenuYOffset; //fixme
            height: 0;
            overflow: hidden;
            -webkit-transition: $menuTransitionOut;
            transition: $menuTransitionOut;
            &.active {
                height: $menuSubmenuHeight;
                -webkit-transition: $menuTransitionIn;
                transition: $menuTransitionIn;
            }
        }
        #block-menu1dropdownbackground {
            position: absolute;
            top: $menuSubmenuYOffset;
            &.sticky {
                top: $menuSubmenuYOffsetSticky;
            }
            overflow: hidden;
            z-index: 10;
            left: 0;
            width: 100vw;
            height: 0;
            display: block;
            background-color: $menuBackground;
            border-bottom: 0 solid transparent;
            //border-bottom: 1px solid $menuBackground;
            -webkit-transition: $menuTransitionOutBackground;
            transition: $menuTransitionOutBackground;
            &.active {
                background-color: $menuBackground; // $bianco80
                height: $menuSubmenuHeight;
                //border-bottom: 1px solid $grigioFiletto;
                border-bottom: 1px solid $arancione;
                -webkit-transition: $menuTransitionInBackground;
                transition: $menuTransitionInBackground;
            }
        }
        #block-menu1hamburger {
            @include SOLO-MOBILE-MOBILEX;
            @include SOLO-TABLET;
            display: none;
            -webkit-box-flex: 99;
            -ms-flex-positive: 99;
            @include micro-mobile {
                flex-grow: 99;
            }
            z-index: 10;
            &.active {
                display: block;
            }
            .field--name-body {
                text-align: right;
                .hamburger {
                    .hamburger-label {
                        @extend %headerLabel;
                        padding-top: 0.15rem;
                    }
                    &.is-active {
                        color: $arancione;
                    }
                }
            }
        }
        &.sticky { // header compatta
            background-color: $menuBackground;
            position: fixed;
            top: 0;
            width: 100%;
            //height: $headerCompattaH;
            height: auto;
            -webkit-transition: $transitionStdIn;
            transition: $transitionStdIn;
        }
    }
}
.headerCTAmobile { // disabilitato
  p {
      margin: 0;
      a {
          @extend %aToCTA1;
          display: block;
          width: 100% !important;
          text-align: center;
          padding: 0;
          box-sizing: border-box;
          max-width: 600px;
          margin: 0 auto;
          margin-top: 0.8em;
          margin-bottom: -0.5em;
          .path-frontpage & {
            margin-bottom: 1em;
          }
        }
  }
}
.statoNonPubblicato {
    display: none;
    .role-administrator &,
    .role-editor & {
        display: block;
    }
    a {
        border: 1px solid $verde;
        position: relative;
        padding: 0 3px;
        &::before {
            content: 'Non pubblicato';
            font-size: 10px;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            right: -7.5em;
            color: $verde;
        }
    }
    .menuViewLivello3 & {
        margin-top: 1em;
    }
}
footer {
    position: relative;
    padding-top: 90px;
    margin-top: $spaziaturaStd;
    #block-fasciascorrevole {
        width: 100vw;
        background-color: $nero;
        text-transform: uppercase;
        //@extend %strillo;
        font-size: $fasciaScorrevoleSize;
        @include micro-mobile-mobileX {
            font-size: $fasciaScorrevoleSizeMobile;
        }
        line-height: 1em;
        height: 1em;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        left: 0;
        top:0;
        color: $bianco;
        p {
            margin: 0;
            position: relative;
            height: 1em;
            @keyframes fascia1 {
                0% {
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                }
                100% {
                    -webkit-transform: translate(-200%, 0);
                    transform: translate(-200%, 0);
                }
            }
            @keyframes fascia2 {
                0% {
                    -webkit-transform: translate(100%, 0);
                    transform: translate(100%, 0);
                }
                100% {
                    -webkit-transform: translate(-100%, 0);
                    transform: translate(-100%, 0);
                }
            }
            @keyframes fascia3 {
                0% {
                    -webkit-transform: translate(200%, 0);
                    transform: translate(200%, 0);
                }
                100% {
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                }
            }
            @include micro-mobile-mobileX {
                @keyframes fascia1 {
                    0% {
                        -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
                    }
                    100% {
                        -webkit-transform: translate(-400%, 0);
                        transform: translate(-400%, 0);
                    }
                }
                @keyframes fascia2 {
                    0% {
                        -webkit-transform: translate(200%, 0);
                        transform: translate(200%, 0);
                    }
                    100% {
                        -webkit-transform: translate(-200%, 0);
                        transform: translate(-200%, 0);
                    }
                }
                @keyframes fascia3 {
                    0% {
                        -webkit-transform: translate(400%, 0);
                        transform: translate(400%, 0);
                    }
                    100% {
                        -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
                    }
                }


            }

            span {
                //border: 1px solid white;
                display: block;
                position: absolute;
                top: 0;
                height: 1em;
                width: 100vw;
                &:nth-child(1) {
                    -webkit-animation: fascia1 $fasciaScorrevoleDurata linear infinite;
                    animation: fascia1 $fasciaScorrevoleDurata linear infinite;
                }
                &:nth-child(2) {
                    -webkit-animation: fascia2 $fasciaScorrevoleDurata linear infinite;
                    animation: fascia2 $fasciaScorrevoleDurata linear infinite;
                }
                &:nth-child(3) {
                    -webkit-animation: fascia3 $fasciaScorrevoleDurata linear infinite;
                    animation: fascia3 $fasciaScorrevoleDurata linear infinite;
                }
            }
        }

    }
    #block-footer,
    .myFooter {
        //padding-top: 90px; //#block-fasciascorrevole
        //@include micro-mobile-mobileX {
        //    overflow-y: scroll;
        //}
        .field--name-body {
            @extend .grid;
            @include micro-mobile-mobileX {
                flex-wrap: wrap;
            }
            p {
                @extend .grid__col-3;
                border-top: 1px solid $grigioFiletto;
                @include micro-mobile-mobileX {
                    width:      calc((100% - (#{$default-grid-gutter}))/2) !important;
                    min-width:  calc((100% - (#{$default-grid-gutter}))/2) !important;
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

//stili
.stile-Nascondi-il-titolo {
    h1.page-title {
        display: none;
    }
}
.stile-Titolo-sopra-carosello {
    .view-titolo {
        position: relative;
        z-index: 2;
        h1.page-title {
            margin-top: 0;
            margin-bottom: 0;
            max-width: none;
            text-align: center;
            border-top: none;
        }
    }
    .view-carosello {
        z-index: 1;
    }
}
.stile-Mostra-indice-menu-di-pagina {
    #block-fluffiness-content {
        article {
            h2 {
                padding-top: $spaziaturaStdMinore;
            }
            .lineaSeparazione { //blocco creato con js
                border-top: 1px solid $arancione;
                //@extend %larghezzaMaxPar;
                margin-top: $spaziaturaStd;
                margin-bottom: $spaziaturaStdMinore;
                height: 1px;
            }
        }
    }
    header {
        .region-header {
            padding-bottom: 0;
        }
    }
    &.role-administrator,
    &.role-editor {
        .menuIndice {
            ul {
                li {
                    &:first-child {
                        flex-grow: 99;
                        text-align: right;
                    }
                    &:last-child {
                        display: none;
                    }
                    &:nth-last-child(2) {
                        border-right: none !important;
                        padding-right: 0 !important;
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}
.stile-Tutta-la-pagina-larghezza-max-par {
    #block-fluffiness-content {
        article {
            @extend %larghezzaMaxPar;
        }
    }
}
//.stile-Immagine-di-apertura {
//    .field--name-field-immagine {
//        z-index: 1;
//        width: calc(100% + 40px);
//        position: relative;
//        left: -20px;
//        img {
//            width: 100%;
//            height: auto;
//        }
//    }
//}
//.stile-Titolo-creativo {
//    .field--name-field-tcreativo {
//        z-index: 2;
//        position: relative;
//        h2 {
//            margin: 0;
//            @extend %h1;
//            text-align: center;
//            color: $arancione;
//        }
//    }
//}
.headerHero { // <figure> come .stile-Titolo-creativo
    position: relative;
    figcaption {
        margin: 0;
        @extend %h1;
        color: $arancione;
        position: absolute;
        line-height: 2em;
        top: calc( 50% - 1em);
        width: 100%;
        text-align: center;
        display: block;
        em {
            @extend %bodoniBoldItalic;
            font-size: 1.18em;
            letter-spacing: 0.05em;
        }
        @include micro-mobile-mobileX {
            line-height: 1em;
        }
    }
}
.larghezzaTutta, %larghezzaTutta { // c'e' anche un selettore p.larghezzaTutta su tipografia.scss
    width: 100vw;
    max-width: 100vw;
    height: auto;
    //max-height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    //left: su _settings c'e' il valore responsivo
    & > figure {
        width: 100vw;
        max-width: 100vw;
        height: auto;
        //max-height: auto;
    }
}
.alignfull {
    @extend %larghezzaTutta;
}
.wp-block-group.has-background { //correggo gutenberg
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.wp-block-columns {
    &:last-child {
        margin-bottom: 0;
    }
}
.has-background {
    padding-top: $defaultSizeLH;
    padding-bottom: $defaultSizeLH;
}

//elementi e views sparse nel sito
.view-banner-corsi {
    .view-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        @include micro-mobile-mobileX {
            flex-wrap: wrap;
        }
        .views-row {
            //max-width: calc((100%-(#{$default-grid-gutter})-(#{$default-grid-gutter}))/3);
            //width: calc( ( 100%-(#{$default-grid-gutter * 2}) ) /3 );
            //$myVar: $default-grid-gutter * 2;
            //width: calc((100%-#{$myVar})/3);
            //width: calc((100%-64px)/3);
            @include micro-mobile-mobileX {
                max-width: 100%;
                width: 100%;
                margin-right: 0;
            }
            height: auto;
            //margin-right: $default-grid-gutter;
            margin-bottom: $spaziaturaStd;
            @include micro-mobile-mobileX-tablet {
              flex: 100%;
              margin-bottom: 16px !important; //fixme
              .etichetta {
                font-size: 18px; //fixme
              }
            }
            &:nth-child(3n) {
                margin-right: 0 !important;
            }
            .banner {
                a {
                    position: relative;
                    display: block;
                    .immagine {
                        position: relative;
                        z-index: 1;
                        img {
                            display: block;
                        }
                    }
                    .titolo {
                        text-align: center;
                        position: absolute;
                        top: 0;
                        z-index: 2;
                        width: 100%;
                        @extend %tstarBold;
                        font-size: 2rem;
                        //font-size: 1rem;
                        color: $bianco; //$arancione valore iniziale con facce prima e lavori dopo
                        //line-height: 159px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                    }
                    &:hover {
                        .titolo {
                            color: $arancione;
                        }
                    }
                }
            }
            .etichetta {
                @extend %small;
                text-align: center;
                // @extend %mostraSu-NASCONDI;
                // @extend %mostraSu-tablet;
                // @extend %mostraSu-laptop;
                // @extend %mostraSu-desktop;
                // @extend %mostraSu-desktopBig;
            }
            .paragraphToCTA2,
            .paragrafoCTA2 {
                margin-top: $spaziaturaStd;
            }
        }
    }
    &.view-banner-corsi-griglia4 {
      font-size: 80%;
      .view-content {
        .views-row {
          &:nth-child(3n) {
            margin-right: $default-grid-gutter;
          }
          &:nth-child(4n) {
            margin-right: 0;
          }
          // @include laptop {
          // }
          // @include tablet {
          // }
          // @include micro-mobile-mobileX-tablet {
          // }

//wot
          .banner {
              a {
                .immagine {}
                .titolo {
                  font-size: 1.5rem;
                  padding: 0.7em;
                  box-sizing: border-box;
                }
              }
            }
          }
        }
      }
}
.progettiColonne3,
.docentiColonne3 { // é anche wp-block-columns
    pre {
        white-space: break-spaces;
    }
    & > .wp-block-column {
        &:nth-child(2) {
            min-width: $parMaxWidth;
        }
        @include micro-mobile-mobileX-tablet {
            min-width: 100% !important;
            margin: 0;
            &:nth-child(1) {order: 3;}
            &:nth-child(2) {
                order: 2;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                & > * {
                    display: block;
                    width: 100%;
                    max-width: $parMaxWidth;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &:nth-child(3) {
                order: 1;
                border-top: none;
            }
        }
    }
    @include micro-mobile-mobileX-tablet {
        flex-wrap: wrap;
    }
}
.docentiColonne3 {
    & > .wp-block-column {
        @include micro-mobile-mobileX-tablet {
            &:nth-child(1) {
                order: 1;
                .wp-block-image {
                    .alignright {
                        float: none !important;
                        margin: 0 auto !important;
                    }
                }
            }
            &:nth-child(2) {order: 2;}
            &:nth-child(3) {order: 3;}
        }
    }
}
ul.blocks-gallery-grid {
    max-width: 100%;
}
//colorbox
#cboxWrapper {
    border-radius: 0 !important;
    background-color: $bianco30;
    #cboxNext,
    #cboxPrevious,
    #cboxClose {
        background-image: url(../img/controls2.png);
    }
    #cboxContent {
        background: $bianco80;
    }
    #cboxCurrent {
        bottom: -2px;
    }
}
body.page-node-type-progetto.role-anonymous {
    .wp-block-preformatted {
        display: none;
    }
}
.tag, %tag {
    padding: 4px;
    //background-color: $arancione20;
    border: 1px solid $grigioFiletto;
    cursor: pointer !important; // fixme c'e' un problema con il cursore manina qui
    margin-right: $spaziaturaStdMinore !important;
    margin-bottom: $spaziaturaStdMinore !important;
    display: block;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        border: 1px solid $arancione;
    }
}
.view-progetti,
.view-docenti-griglia,
.view-taxonomy-term { // queste view hanno anche un layout .html.twig apposito
    margin-top: $spaziaturaStd;
    margin-bottom: $spaziaturaStd;
    .view-header {
        padding-bottom: $spaziaturaStdMinore;
    }
    .views-row {
        margin-bottom: $spaziaturaStd;
        .progWrapper,
        .docentiWrapper {
            //max-width: 268px;
            a {
                display: block;
                position: relative;
                .immagine {
                    overflow: hidden;
                    img {
                        display: block;
                        -webkit-transition: $transitionStdOut;
                        transition: $transitionStdOut;
                    }
                };
                .titleWrapper {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    background-color: transparent;
                    color: transparent;
                    -webkit-transition: $transitionStdOut;
                    transition: $transitionStdOut;
                    .title {
                        text-align: center;
                        @extend %h3;
                        @extend %tstarBold;
                        padding: $spaziaturaStdMinore;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 100%;
                        @include laptop {
                            font-size: $defaultSize;
                            line-height: 1.3em;
                        }
                        @include tablet {
                            font-size: $defaultSize;
                            line-height: 1.3em;
                        }
                    }
                }
                &:hover {
                    img {
                        -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                        -webkit-transition: $transitionStdOut;
                        transition: $transitionStdOut;
                    }
                    .titleWrapper {
                        background-color: $bianco80;
                        -webkit-transition: $transitionStdIn;
                        transition: $transitionStdIn;
                        color: $nero;
                    }
                }
            }
        }
        //&:nth-child(n+7) {
        //    margin-bottom: 0;
        //}
    }
    .view-footer {
        text-align: right;
        padding-top: $spaziaturaStdMinore;
    }
    .grid8 {
        .views-row {
            &:nth-child(n+7) {
                margin-bottom: $spaziaturaStd;
            }
        }
    }
    &.progettiTipoMinore {
        .title {
            font-size: $smallSize !important;
            line-height: 1.2em !important;
        }
    }
    &.progettiTipoMinoreMobile {
        @include micro-mobile-mobileX {
            .title {
                font-size: $smallSize !important;
                line-height: 1.2em !important;
            }
        }
    }
}
.view-partner {
    background-color: $biancoPuro;
    border-top: 1px solid $grigioFiletto;
    border-bottom: 1px solid $grigioFiletto;
    padding-top: $spaziaturaStd;
    padding-bottom: $spaziaturaStd;
    @extend %larghezzaTutta;
    @extend %paddingPagina;
    .views-row {
        img {
            display: block;
        }
        &:nth-child(n+9) {
            margin-bottom: 0;
        }
    }
    @include tablet {
        .view-content { // gia' .grid8
        }
    }
}
.wideLineLenght {margin-left: 0;}
.view-carosello {
    @extend .larghezzaTutta;
    img { //valido sia in homepage che in pagina corsi
        display: block;
    }
    .slick--view--carosello {
        position: relative;
        .slick__slider {
            position: relative;
            .slick-list {
                //order: 2;
                .slick-track {
                    .slick-slide {
                        .slide {
                            & > div {
                                position: relative;
                                .immagine {
                                    display: block;
                                    font-size: 0;
                                    line-height: 0;
                                    img {
                                        margin: 0;
                                    }
                                }
                                .blocchetto {
                                    position: absolute;
                                    bottom: 0;
                                    padding-top: $spaziaturaStd;
                                    padding-bottom: $spaziaturaStdMinore;
                                    h2 {
                                        background-color: $bianco;
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        padding: $spaziaturaStdMinore / 2;
                                    }
                                    p {
                                        background-color: $bianco;
                                        padding: $spaziaturaStdMinore / 2;
                                        padding-top: 0;
                                        margin-bottom: $spaziaturaStdMinore;
                                    }
                                    .cta {
                                        a {
                                            @extend %aToCTA1;
                                        }
                                    }
                                    @include tablet {
                                        max-width: 50%;
                                        h2, p {
                                            //margin-bottom: $spaziaturaStdMinore;
                                            font-size: 0.8em;
                                            line-height: 1.25em;
                                        }
                                    }
                                    @include micro-mobile-mobileX {
                                        background-color: $grigioFondoChiaro;
                                        position: relative;
                                        margin-bottom: $spaziaturaStdMinore;
                                        //padding-left: 0 !important;
                                        h2, p {
                                            margin-left: 0;
                                            margin-right: 0;
                                            max-width: 100%;
                                            background-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
            .slick-dots { //ul
                //width: 500px !important;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                list-style: none;
                max-width: none;
                width: auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                position: absolute;
                top: 0;
                -webkit-transition: $transitionStdOut;
                transition: $transitionStdOut;
                //padding-left: calc(#{($caroselloArrowWidth * 2)} + #{($spaziaturaStdMinore * 2)});
                li {
                    list-style-type: none;
                    width: $caroselloArrowWidth; //19px
                    height: $caroselloArrowHeight; //22px
                    button {
                        background-color: transparent;
                        border: 0;
                        background-image: url(../img/carosello_placeholder.svg);
                        width: $caroselloArrowWidth; //19px
                        height: $caroselloArrowHeight; //22px
                        color: transparent;
                        &:hover {
                            background-image: url(../img/carosello_placeholder_arancione.svg);
                        }
                    }
                    &.slick-active {
                        button {
                            background-image: url(../img/carosello_current.svg);
                            &:hover {
                                background-image: url(../img/carosello_current_arancione.svg);
                            }
                        }
                    }
                }
            }
        }
        .slick__arrow { //nav
            width: auto;
            position: absolute;
            top: 0;
            // questa transition da problemi con safari (vedi sotto "hack safari")
            //-webkit-transition: $transitionStdOut;
            //transition:         $transitionStdOut;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            & > .slick-arrow {
                //color: transparent;
                width: $caroselloArrowWidth; //19px
                height: $caroselloArrowHeight; //22px
                border: 0;
                display: block;
                background-color: $bianco;
                &:hover {
                    background-color: $arancione;
                }
                &.slick-prev {
                    background-image: url(../img/carosello_prev_traspa.svg);
                    margin-right: $spaziaturaStdMinore;
                }
                &.slick-next {
                    background-image: url(../img/carosello_next_traspa.svg);
                }
            }

        }
    }
} // .view-carosello ovvero sia caroselloCorso che caroselloHomepage
// hack safari
// Safari 11+
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .slick__arrow {
            -webkit-transition: none;
            transition: none;
        }
    }
}
// hack firefox on offsass.css
//wot (??)
// Chrome 52+ (and Opera 39+)
@supports (-webkit-appearance:none) and (font-variant-caps:normal) and (not (-ms-accelerator:true)) and (not (overflow:-webkit-marquee)) and (not (-moz-appearance:none)) {
    .slick__arrow {
        -webkit-transition: $transitionStdOut;
        transition:         $transitionStdOut;
    }
}
.caroselloCorso {
    @include micro-mobile-mobileX {
        .slick-dots,
        .slick__arrow {
            display: none !important;
        }
    }
}
.wp-block-columns {
    .wp-block-column {
        &:first-child {
            h2,h3,h4,h5,p {
                margin-left: 0;
            }
        }
    }
}
.wp-block-separator {
    border-bottom: 1px solid $grigioFiletto;
}
.fondoArancione {
    background-color: $arancione;
    padding: $spaziaturaStdMinore;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $bianco;
}
.fondoGrigio {
    background-color: $grigioFondo;
}
figure.alignwide.wp-block-embed-youtube {
    iframe {
        display: block;
        margin: 0 auto;
    }
}
.centerVideo {
    .wp-block-embed__wrapper {
        iframe {
            margin: 0 auto;
            display: block;
        }
    }
}
.paragraphToCTA,
.paragrafoCTA { // ci sta anche .aToCTA1 %aToCTA1 .aToCTA2 %aToCTA2
    @extend %h2;
    text-align: center;
    text-transform: uppercase;
    a {
        @extend %aToCTA1;
        width: 100%;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        //background-color: $arancione;
        //padding: 5px $spaziaturaStdMinore;
    }
}
.paragraphToCTA2,
.paragrafoCTA2 {
    @extend %h4;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    a {
        @extend %aToCTA1;
        width: 100%;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        //background-color: $arancione;
        //padding: 5px $spaziaturaStdMinore;
    }
}
.sistemaAltezze1 {
    h3 {
        height: 2em;
    }
    p.sistemaAltezzeTesto {
        min-height: 4em;
    }
}
.paragrafoMarginBottomMinore {
    margin-bottom: $spaziaturaStdMinore !important;
}
.schedaProgetti {
    .wp-block-columns {
        margin-bottom: $spaziaturaStd;
        border-top: 1px solid $bianco30;
        font-size: 1.1em;
        &:last-child {
            margin-bottom: 0;
        }
        .wp-block-column {
            &:nth-child(1) {
                @extend %tstarItalic;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}
.tuttoMaiuscolo {
    text-transform: uppercase;
}
.wp-block-group.has-background {
    margin-bottom: $spaziaturaStd;
    padding-bottom: $spaziaturaStd * 1.5;
}
.corsivoToBodoni {
    em {
        @extend %bodoniItalic;
        font-size: 1.35em;
    }
}
.corsivoToArancione {
    em {
        color: $arancione;
    }
}
.paragrafiNoMargine {
    p {
        margin-bottom: 0;
    }
}
.figureNoMargine {
    figure {
        margin: 0 !important;
    }
}
.grigliaSaveTheDate {
    border-top: 1px solid rgba($grigioFiletto,0.45);
    margin-bottom: $spaziaturaStdMinore;
    &:last-child {
        margin-bottom: $spaziaturaStd;
    }
}
.immagineHashtag { //figure
    position: relative;
    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        @extend %h1;
        @extend %tstarBold;
    }
}
.view-docenti-wwwinsta {
    .views-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: $spaziaturaStd;
    }
    .views-field {
        width: calc( (100% - #{$default-grid-gutter}) / 3 );
        margin-right: $default-grid-gutter;
        border-top: 1px solid $grigioFiletto;
        &:last-child {
            margin-right: 0;
        }
    }
    @include micro-mobile-mobileX {
        .views-row {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .views-field {
            width: calc( (100% - #{$default-grid-gutter}) / 2 );
            margin-right: $default-grid-gutter;
            border-top: 1px solid $grigioFiletto;
            &:nth-child(2) {
                margin-right: 0;
            }
            &:nth-child(3) {
                margin-right: 0;
                margin-top: $default-grid-gutter;
                width: 100%;
                flex-wrap: wrap;
                flex-basis: 100%;
            }
        }
    }
}
.view-progetto-docente {
    margin-bottom: $spaziaturaStd;
    .field-content {
        @extend %h3;
    }
}
.view-display-id-block_progdocente {
    .view-header {
        border-top: 1px solid $grigioFiletto;
    }
}
.filoSopra {
    border-top: 1px solid $grigioFiletto;
}
.centroCol {
    text-align: center;
}
.paddingStdSopra {
    padding-top: $spaziaturaStd;
}
.region-content {
    position: relative;
    #block-fluffiness-breadcrumbs { // fixme
        border-top: 1px solid $grigioFiletto;
        position: absolute;
        ol {
            li {
                &:last-child {
                    position: relative;
                    &::after {
                        content: '.';
                        @extend %h1;
                        display: inline-block;
                        color: transparent;
                        width: 0;
                    }
                }
                &::before {
                    content: "—";
                }
                &:first-child {
                    &::before {
                        content: '';
                    }
                }
            }
        }
    }
    h1.page-title {
        border-top: 1px solid $grigioFiletto;
        @extend %pCentrato;
    }
}
.saltaColonneMobileTablet {
    @include micro-mobile-mobileX-tablet {
        flex-wrap: wrap;
    }
    & > .wp-block-column {
        @include micro-mobile-mobileX-tablet {
            min-width: 100%;
            margin-left: 0;
        }
    }
    p.paragraphToCTA,
    p.paragrafoCTA,
    p.paragrafoMarginBottomMinore {
        @include micro-mobile-mobileX-tablet {
            max-width: 100%;
        }
    }
}
@include micro-mobile-mobileX {
    .wp-block-embed__wrapper {
        iframe {
            max-width: 100%;
        }
    }
}
.larghezzaMaxPar, %larghezzaMaxPar {
    max-width: $parMaxWidth;
    margin: 0 auto;
}
.soloEditor { //ridondante anche jquery
    display: none;
    margin-bottom: $spaziaturaStd;
    .role-authenticated & {
        display: block;
        border: 2px solid $verde;
        padding: $spaziaturaStdMinore 0;
        overflow: hidden;
        &::before {
            content: 'Visibile soltanto agli editor (per pubblicare togliere il selettore class "soloEditor")';
            padding: $spaziaturaStdMinore;
            @extend %small;
            color: $verde;
        }
    }
}
.SOLO-MOBILE-MOBILEX-TABLET {
    @include SOLO-MOBILE-MOBILEX-TABLET;
}
.SOLO-LAPTOP-DESKTOP-BIG {
    @include SOLO-LAPTOP-DESKTOP-BIG;
}
.view-banner-corsi,
.view-display-id-block_3 { /* fixme sembra un errore */
    .views-row {
        margin-bottom: $spaziaturaStd * 3 !important;
        .views-field-field-testo-introduttivo {
            p {
                margin-bottom: $spaziaturaStdMinore;
            }
        }
    }
}
.menuFooter {
    margin-bottom: $spaziaturaStd;
    .menuViewLivello0 {
        & > .view-content {
            display: flex;
            overflow-x: scroll;
            & > .views-row {
                min-width: 200px;
                flex-grow: 1;
                border-top: 1px solid $grigioFiletto;
                margin-right: $default-grid-gutter;
                padding-bottom: $spaziaturaStdMinore;
                &:last-child {
                    margin-right: 0;
                }
                & > .menuLiv0Voce {
                    .sottoMenu {
                        padding-left: $spaziaturaStd;
                        margin-bottom: $spaziaturaStd;
                    }
                    & > .voce {
                        text-decoration: none;
                        text-transform: uppercase;
                        @extend %tstarBold;
                        a {
                            text-decoration: none;
                            cursor: default;
                            &:hover {
                                color: $nero;
                            }
                        }
                    }
                    & > .sottoMenu {}
                }
            }
        }
    }
}
.view-titolo {
    h1.page-title {
        em {
            //@extend %bodoniBoldItalic;
            @extend %bodoniBoldItalic;
            font-size: 1.19em;
            letter-spacing: 0.05em;
            padding-left: 0.18em;
        }
        @include micro-mobile-mobileX {
            line-height: 1em;
            font-size: 1.7rem;
        }
    }
}
svg.ext { //iconina link esterni
    padding-left: 0.2em;
    fill: $grigioFondoChiaro;
    path {
        stroke: $grigioFondoChiaro;
    }
}
.field--name-field-allegati {
    @extend .larghezzaMaxPar;
    margin-bottom: $spaziaturaStd;
    .field__label {
        @extend %h2;
        border-top: 1px solid $grigioFiletto;
        padding-top: 0.2em;
        margin-bottom: 0.5em;
    }
    .field__items {
        .field__item {
            .file {
                background-position: left 5px;
            }
        }
    }
}
.menuIndice {
    flex-basis: 100%;
    background-color: $menuBackground;
    background-color: transparent;
    position: relative;
    z-index: 1;
    //@include micro-mobile-mobileX {
    //    display: none; //fixme
    //}
    .wrapper {
        border-top: 1px solid $arancione;
        border-bottom: 1px solid $arancione;
        padding: 10px 0;
        margin-top: 10px;
        ul#tocList {
            margin: 0;
            padding: 0;
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: right;
            //flex-wrap: wrap;
            @include micro-mobile-mobileX { //fixme su mobile poco si capisce col menu
                flex-wrap: wrap;
                justify-content: center;
                li {
                    width: calc( 50% - (#{ $spaziaturaMenuMinore } * 2) );
                    &:nth-child(2n) {
                        margin-right: 0;
                        padding-right: 0;
                        border-right: none;
                    }
                }
            }
            li {
                list-style-type: none;
                border-right: 1px solid rgba($grigioFiletto,0.4);
                padding-right: $spaziaturaMenuMinore;
                margin-right: $spaziaturaMenuMinore;
                //line-height: $spaziaturaMenu;
                //width: calc( ( 100% - ( #{$spaziaturaMenuMinore} * 8 ) ) / 5 );
                //width: 25%;
                box-sizing: border-box;
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }
            }
        }
    }
}
a.segnaposto-anchor {
    position: relative;
    top: -106px; //offset dello scorrimento smooth fixme per il primo link non funziona bene
}
.documentiScaricabili {
    h3 {
        margin-left: 0;
        border-top: 1px solid $grigioFiletto;
        padding-top: $spaziaturaStdMinore;
    }
}
body.hamburgerMenuActive {
    overflow-y: hidden;
}
.form-item.privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    & > label {
        padding: 0;
        width: 100%;
        flex-basis: 100%;
        order: 1;
        display: block;
        padding-left: calc( #{$spaziaturaStdMinore} + 1px );
    }
    & > input.form-checkbox {
        order: 2;
        width: auto;
        margin-left: calc( #{$spaziaturaStdMinore} + 1px );
        margin-right: calc( #{$spaziaturaStdMinore} *2 );
    }
    & > div.description {
        margin: 0;
        padding: 0;
        order: 3;
        width: 90%;
    }
}
.field--name-field-media-video-file {
    video {
        width: 100%;
    }
}
.view-docenti-guest {
    .view-content {
        div {
            display: inline;
            &::after {
                content: ', ';
            }
            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
}
.view-news {
    @extend %larghezzaMaxPar;
    .views-row {
        .blocchetto {
            display: flex;
            & > div {
                border-top: 1px solid $grigioFiletto;
                margin-bottom: $spaziaturaStd;
                &:nth-child(1) {
                    width: 23%;
                    margin-right: 4%;
                }
                &:nth-child(2) {
                    width: 46%;
                    margin-right: 4%;
                    & > div {
                        &:nth-child(1) {
                            @extend %tstarBold;
                        }
                    }
                }
                &:nth-child(3) {
                    width: 23%;
                    margin-right: 0;
                    @extend %small;
                    text-transform: uppercase;
                    color: $arancione;
                    text-align: right;
                }
            }
        }
    }
}
#sliding-popup {
    width: 100%;
    background-color: $menuBackgroundCookie;
    border-top: 1px solid $arancione;
    .eu-cookie-compliance-content {
        @extend %larghezzaMaxPar;
        margin-top: $spaziaturaStdMinore/2;
        p {
            margin: 0;
            @extend %small;
            line-height: 1.3em;
        }
        button {
            width: 110px;
            border: 2px solid $arancione;
            padding: 2px 8px;
            background-color: $bianco;
            color: $nero;
            text-decoration: none;
            &:hover {
                background-color: $arancione20;
                color: $arancione;
            }
            &.agree-button {
                margin-left: $spaziaturaStdMinore;
            }
            &.decline-button {
                &:hover {
                }
            }
        }
    }
}
.view.vociCentrali {
    .grid {
        justify-content: center;
    }
    .dueVoci &.view-semester-grandtour {
        .views-row {
            &:nth-child(2) {
                margin-right: 0;
            }
        }
    }
}
.etichettaProgetti {
    font-size: 16px;
    color: #c3c3c3;
    border-top: 1px solid $grigioFiletto;
    margin-bottom: 0;
}
//
// FINE elementi e views sparse nel sito



// pagine particolari
.path-user {
    .block-system-main-block {
        @extend %larghezzaMaxPar;
    }
}
.path-search { //body
    .search-help-link {
        display: none;
    }
}
.view-scheda-progetto-tags {
    .views-row {
        margin-bottom: $spaziaturaStd;
        .views-field {
            border-top: 1px solid $grigioFiletto;
            margin-bottom: $spaziaturaStdMinore;
            //@extend %tag;
            white-space: nowrap;
            font-size: $headerSize;
            line-height: $headerSizeLH;
            &:first-child {
                border-top: none;
            }
            ul {
                list-style: none;
                list-style-type: none;
                margin: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                li {
                    @extend %tag;
                    margin: 0;
                    white-space: nowrap;
                    font-size: $headerSize;
                    line-height: $headerSizeLH;
                }
            }
            p.label {
                font-size: $headerSize;
            }
        }
    }
}
.vistaTags {
    .view-content {
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .views-row {
            margin-bottom: $spaziaturaStd;
            @extend %tag;
            margin: 0;
            white-space: nowrap;
            font-size: $headerSize;
            line-height: $headerSizeLH;
            .conta {
                color: $grigioIntermedio;
            }
            a {
                &:nth-child(2) {
                    padding-left: 1em;
                }
            }
        }
    }
}
.page-node-type-progetto {
    .wp-block-column {
        border-top: 1px solid $grigioFiletto;
        padding-top: $spaziaturaStd;
        h3 {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}
.path-webform,
.page-node-type-webform {
    .webform-submission-form {
        max-width: $parMaxWidth;
        margin: 0 auto;
        legend, label {
            color: $nero;
            font-weight: 500;
        }
        .webform-element-description {
            color: #c3c3c3;
        }
        .form-item legend,
        label {
            padding-left: 0 !important;
        }
        .select2-container--default .select2-selection--single {
            padding: 0.14591rem 0.61805rem;
            line-height: 40px;
            height: auto;
            border: 1px solid #f5e4ed;
            border-radius: 0;
            span {
                line-height: 40px;
            }
            span.select2-selection__arrow {
                height: 42px;
            }
        }
        .form-item {
            .webform-flexbox {
                margin-top: 0.5em;
                fieldset {
                        height: 0;
                }
            }
        }
        #edit-flexbox-01 {
            margin: 0 0;
            .webform-flexbox {
                margin-bottom: 0;
            }
        }
        .webform-email-confirm--wrapper {
            legend {
                margin-bottom: 0.5em;
            }
        }
        .webform-telephone--wrapper {
            margin-bottom: 1em;
            legend {
                border-bottom: 0;
                border-top: 1px solid #f5e4ed;
                margin-top: 0.5em;
            }
        }
        .form-type-date {
            margin-bottom: 1em;
            label {
                border-top: 1px solid #f5e4ed;
                padding-top: 0.5em;
            }
            img.ui-datepicker-trigger {
                display: none;
            }
        }
        .webform-address--wrapper {
            .webform-address {
                .webform-address__row-1 {
                    label {
                        border-top: 1px solid #f5e4ed;
                        padding-top: 0.5em;
                    }
                }
            }
            & > legend {
                border-bottom: 0;
                border-top: 1px solid #f5e4ed;
                padding-top: 0.5em;
            }
        }
        #edit-citizenship--wrapper,
        #edit-citizenship-2--wrapper {
            .webform-flexbox {
                margin-bottom: 0;
            }
        }
        fieldset.radios--wrapper {
            margin-bottom: 1em;
            legend {
                border-bottom: 0;
                border-top: 1px solid #f5e4ed;
                padding-top: 0.5em;
            }
            .form-radios {
                display: flex;
                .form-item {
                    max-width: 150px;
                    label {
                        display: inline;
                    }
                }
            }
            .description {
                padding-left: 0;
            }
        }
        .js-form-item-native-language,
        .js-form-item-intended-field-of-studies {
            label {
                border-top: 1px solid #f5e4ed;
                padding-top: 0.5em;
            }
        }
        #edit-housing-selection,
        #edit-when-would-you-like-to-start-the-program- {
            flex-direction: column;
            .form-item {
                max-width: 100%;
                .description {
                    margin-left: 1em;
                }
            }
        }
        .js-form-item-messages {
            label {
                border-top: 1px solid #f5e4ed;
                padding-top: 0.5em;
            }
        }
        #edit-flexbox-01 {
            .webform-flex--container {
                margin: 0 !important;
                .webform-flexbox {
                    .webform-flex {
                        margin-right: 1em;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
.path-search {
    #block-fluffiness-content {
        @extend %larghezzaMaxPar;
        .js-form-wrapper {
            .js-form-item {
                label {
                    padding-left: 0;
                }
                input.form-search {
                    margin-left: 0;
                }
            }
            .js-form-submit {
            }
        }
        .item-list {
            ol {
                padding-left: 0;
                li {
                    margin-left: 0;
                }
            }
        }
    }
}
.page-node-type-news {
    .node__content {
        .field--name-field-corso,
        .field--name-field-datarif,
        .field--name-field-tipo-di-news {
            @extend %larghezzaMaxPar;
            border-top: 1px solid $grigioFiletto;
            margin-top: $spaziaturaStd;
            padding-top: $spaziaturaStd;
        }
        .field--name-body {
            border-top: 1px solid $grigioFiletto;
            margin-top: $spaziaturaStd;
            padding-top: $spaziaturaStd;
        }
    }
}
/// problema voce non tradotta (inserito su asset)
//.lang-en {
//    .menuPrincipaleView {
//        .menuLiv0VoceTid5 {
//            .menuViewLivello2 .view-content {
//                    border: 1px solid blue;
//                & > .views-row:nth-child(3) {
//                    border: 1px solid red;
//                }
//            }
//        }
//    }
//}
//.menuLiv0VoceTid5 .menuViewLivello2 .view-content > .views-row:nth(3) {
//    display: none;
//}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// responsività e altri
// da tenere in fondo
.lang-it { //body
    .onlyEng {
        display: none !important;
    }
}
.lang-en { //body
    .onlyIta {
        display: none !important;
    }
}
.mostraSu-NASCONDI     , %mostraSu-NASCONDI     {                          display: none !important;     };
.mostraSu-micro        , %mostraSu-micro        { @include micro         { display: block !important; }  };
.mostraSu-mobile       , %mostraSu-mobile       { @include mobile        { display: block !important; }  };
.mostraSu-mobileX      , %mostraSu-mobileX      { @include mobileX       { display: block !important; }  };
.mostraSu-tablet       , %mostraSu-tablet       { @include tablet        { display: block !important; }  };
.mostraSu-laptop       , %mostraSu-laptop       { @include laptop        { display: block !important; }  };
.mostraSu-desktop      , %mostraSu-desktop      { @include desktop       { display: block !important; }  };
.mostraSu-desktopBig   , %mostraSu-desktopBig   { @include desktopBig    { display: block !important; }  };
.mostraSuFlex-micro        , %mostraSu-micro        { @include micro         { display: flex !important; }  };
.mostraSuFlex-mobile       , %mostraSu-mobile       { @include mobile        { display: flex !important; }  };
.mostraSuFlex-mobileX      , %mostraSu-mobileX      { @include mobileX       { display: flex !important; }  };
.mostraSuFlex-tablet       , %mostraSu-tablet       { @include tablet        { display: flex !important; }  };
.mostraSuFlex-laptop       , %mostraSu-laptop       { @include laptop        { display: flex !important; }  };
.mostraSuFlex-desktop      , %mostraSu-desktop      { @include desktop       { display: flex !important; }  };
.mostraSuFlex-desktopBig   , %mostraSu-desktopBig   { @include desktopBig    { display: flex !important; }  };
