{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
*
* sono due template nidificati per vista termine tag progetti
* PADRE: taxonomy-term--tags.html.twig
* FIGLIO: views-view-unformatted--taxonomy_term.html.twig
*
* facendo test se mettiamo qui le classi spariscono se le togliamo renderizzano (???)
* {%
*   set classes = [
*     'view',
*     'view-' ~ id|clean_class,
*     'view-id-' ~ id,
*     'view-display-id-' ~ display_id,
*     dom_id ? 'js-view-dom-id-' ~ dom_id,
*   ]
* %}
* <div{{ attributes.addClass(classes) }}>
* non renderizza queste classi: view view-taxonomy-term view-id-taxonomy_term view-display-id-page_1 js-view-dom-id-e283758c56bd602b6c705bd700e0f01ee211d9f09b966d41eac9cc5b16194b30
* <div class="view view-taxonomy-term view-id-taxonomy_term view-display-id-page_1 js-view-dom-id-e283758c56bd602b6c705bd700e0f01ee211d9f09b966d41eac9cc5b16194b30">
 */
#}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
{#
/*
 *    <div class="view-content grid8 grid-wrap">
 *        <div class="grid__col-2 views-row">
 *            {{ rows }}
 *        </div>
 *    </div>
 */
#}
    <div class="view-content grid8 grid-wrap">
        {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
