@font-face {
  font-family: 'tstar';
  src: url("tstar-italic-webfont.eot");
  src: url("tstar-italic-webfont.eot?#iefix") format("embedded-opentype"), url("tstar-italic-webfont.ttf") format("truetype"), url("tstar-italic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
