@font-face {
  font-family: 'tstar';
  src: url("tstar-regular-webfont.eot");
  src: url("tstar-regular-webfont.eot?#iefix") format("embedded-opentype"), url("tstar-regular-webfont.ttf") format("truetype"), url("tstar-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
