@font-face {
  font-family: 'tstar headline';
  src: url("tstar-headline-webfont.eot");
  src: url("tstar-headline-webfont.eot?#iefix") format("embedded-opentype"), url("tstar-headline-webfont.ttf") format("truetype"), url("tstar-headline-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
