/* line 84, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.grid {
  box-sizing: border-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 88.57143%;
}

@media screen and (max-width: 1020px) {
  /* line 84, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .grid {
    width: 88.23529%;
  }
}

@media screen and (max-width: 620px) {
  /* line 84, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .grid {
    width: 89.67742%;
  }
}

/* line 92, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.grid-0 {
  box-sizing: border-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-0 {
  box-sizing: border-box;
  width: 0%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-0 {
  margin-left: 0%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-1 {
  box-sizing: border-box;
  width: 8.33333%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-1 {
  margin-left: 8.33333%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-2 {
  box-sizing: border-box;
  width: 16.66667%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-2 {
  margin-left: 16.66667%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-3 {
  margin-left: 25%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-4 {
  box-sizing: border-box;
  width: 33.33333%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-4 {
  margin-left: 33.33333%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-5 {
  box-sizing: border-box;
  width: 41.66667%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-5 {
  margin-left: 41.66667%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-6 {
  margin-left: 50%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-7 {
  box-sizing: border-box;
  width: 58.33333%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-7 {
  margin-left: 58.33333%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-8 {
  box-sizing: border-box;
  width: 66.66667%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-8 {
  margin-left: 66.66667%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-9 {
  margin-left: 75%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-10 {
  box-sizing: border-box;
  width: 83.33333%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-10 {
  margin-left: 83.33333%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-11 {
  box-sizing: border-box;
  width: 91.66667%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-11 {
  margin-left: 91.66667%;
}

/* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1.6129%;
  padding-right: 1.6129%;
}

/* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
.col-desk-shift-12 {
  margin-left: 100%;
}

@media screen and (max-width: 1020px) {
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-0 {
    box-sizing: border-box;
    width: 0%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-0 {
    margin-left: 0%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-1 {
    box-sizing: border-box;
    width: 8.33333%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-1 {
    margin-left: 8.33333%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-2 {
    box-sizing: border-box;
    width: 16.66667%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-2 {
    margin-left: 16.66667%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-3 {
    margin-left: 25%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-4 {
    box-sizing: border-box;
    width: 33.33333%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-4 {
    margin-left: 33.33333%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-5 {
    box-sizing: border-box;
    width: 41.66667%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-5 {
    margin-left: 41.66667%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-6 {
    margin-left: 50%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-7 {
    box-sizing: border-box;
    width: 58.33333%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-7 {
    margin-left: 58.33333%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-8 {
    box-sizing: border-box;
    width: 66.66667%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-8 {
    margin-left: 66.66667%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-9 {
    margin-left: 75%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-10 {
    box-sizing: border-box;
    width: 83.33333%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-10 {
    margin-left: 83.33333%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-11 {
    box-sizing: border-box;
    width: 91.66667%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-11 {
    margin-left: 91.66667%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-tab-shift-12 {
    margin-left: 100%;
  }
}

@media screen and (max-width: 620px) {
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-0 {
    box-sizing: border-box;
    width: 0%;
    padding-left: 1.79856%;
    padding-right: 1.79856%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-shift-0 {
    margin-left: 0%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-1 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 1.79856%;
    padding-right: 1.79856%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-shift-1 {
    margin-left: 25%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-2 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1.79856%;
    padding-right: 1.79856%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-shift-2 {
    margin-left: 50%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-3 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 1.79856%;
    padding-right: 1.79856%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-shift-3 {
    margin-left: 75%;
  }
  /* line 64, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-4 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.79856%;
    padding-right: 1.79856%;
  }
  /* line 67, ../../../../MAMP/htdocs/madeprogram.it/themes/fluffiness/sass/grid.scss */
  .col-mob-shift-4 {
    margin-left: 100%;
  }
}

/*# sourceMappingURL=grid.css.map */