@font-face {
  font-family: 'tstar';
  src: url("tstar-bold-webfont.eot");
  src: url("tstar-bold-webfont.eot?#iefix") format("embedded-opentype"), url("tstar-bold-webfont.ttf") format("truetype"), url("tstar-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
